@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f7f7f7;
}
#main-body {
    background-color: #f7f7f7;
}
ul {
    padding: 0;
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
}
p {
    margin-bottom: 0;
}
.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: none;
}
.form-control:focus {
    border-color: #dc2a27;
    box-shadow: none;
}
/*===============header===================*/
.header-nav {
    background: #00c2d5;
}
header.header1 {
    top: 0;
    width: 100%;
    position: sticky;
    z-index: 1000;
}
.header {
    padding: 1rem 0;
}
.logo-col {
    width: 156px;
    margin: auto 0;
}

.header-nav nav.navbar.navbar-expand-lg {
    padding: 0;
}
.header-nav .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
}
.header-nav ul.navbar-nav.menu-details {
    padding: 0.4rem 0;
}
.header-nav ul.navbar-nav.menu-details li {
    margin-left: 18px;
}
.menu-col.top-header ul li a i {
    margin-right: 4px;
}
.header-nav ul.navbar-nav.menu-details li a {
    font-size: 14px;
    color: white;
}
.header-nav ul.navbar-nav.menu-details.right-menu.ml-auto li {
    margin-right: 0;
    margin-left: 18px;
}

ul.navbar-nav.menu-details.right-menu li a i {
    width: 24px;
    height: 24px;
    background: #f6f6f6;
    text-align: center;
    line-height: 24px;
    border-radius: 24px;
    margin-right: 8px;
    font-size: 10px;
}
.mid-head-details {
    display: flex;
    padding: 6px 0;
}
.flex-col {
    flex: 1 1 0%;
}
.head-content {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.search-bar-col {
    margin: auto 15px;
    flex: 1 1 0%;
}
.drop-col {
    /*flex: 1 1 0%;*/
    flex: 0 0 auto;
}
.menu-col.top-header {
    margin: auto 0;
}
.top-header ul li {
    list-style: none;
    margin-left: 17px;
}
.menu-col.top-header ul li a {
    font-size: 14px;
    text-decoration: none;
    color: black;
}
li.menu-toggle {
    position: relative;
}
.badge-light {
    color: #ffffff;
    background-color: #dc2a27;
    position: absolute;
    top: -4px;
    right: 4.2rem;
    border-radius: 50%;
    min-height: 14px;
    min-width: 14px;
    padding: 4px;
    font-size: 7px;
}
ul.navbar-nav.menu-details.right-menu li a.color-red i {
    color: #dc2a27;
}
ul.navbar-nav.menu-details.right-menu li a.color-blue i {
    color: #5ab7d4;
}
.search-bar .form-control {
    border-radius: 8px;
    height: 48px;
    border-color: #dddddd;
    font-size: 14px;
}
.search-bar {
    position: relative;
}
.search-bar i {
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 44px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.pickup-selection.form-group {
    margin: auto 0;
}
.pickup-selection.form-group span {
    font-size: 14px;
    font-weight: 400;
}
.pickup-selection.form-group span.pickup {
    font-weight: 700;
}
.pickup-selection .dropdown .btn {
    cursor: pointer;
    background: transparent;
    margin: 0px;
    border-radius: 8px;
    border: 1px solid #dddddd;

    color: black;
    font-size: 14px;
    font-weight: 400;
    overflow: hidden;
    height: 48px;
    width: 100%;
}
.pickup-selection .dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.8em;
    vertical-align: middle;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    content: '\f107';
    font-family: 'FontAwesome';
    font-size: 16px;
    color: #2e3a59;
    font-weight: 800;
}
.pickup-selection .dropdown img {
    margin-right: 10px;
}
.middle-navigation nav.navbar.navbar-expand-lg {
    padding: 0;
}

/*=====================home page css====================*/
.main-section {
    padding: 1rem;
    margin-bottom: 1.2rem;
    border-radius: 12px;
}
.content-padding {
    padding-top: 1rem;
}
.column1 {
    max-width: 20%;
    flex: 0 0 20%;
}
.column {
    padding-left: 6px;
    max-width: 80%;
    flex: 0 0 80%;
}

.sidebar {
    border-radius: 6px;
    padding: 1rem;
}
.sidebar h5 {
    color: #24211f;
    font-weight: 600;
}
.sidebar ul {
    padding-left: 14px;
}
.sidebar ul li {
    margin: 14px 0;
}
.sidebar ul li a {
    font-size: 14px;
    color: #535353;
    text-decoration: none;
}
.sidebar ul li a span {
    float: right;
    width: 28px;
    height: 28px;
    background: #f6f6f6;
    text-align: center;
    border-radius: 20px;
    line-height: 28px;
    font-size: 12px;
}
.banner-details {
    background-color: #5ab7d4;
    border-radius: 8px;
    padding: 1rem 1.5rem;
    background-image: url(../images/new-img1.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    margin-bottom: 1rem;
    background-size: contain;
}
.banner-details h5 {
    color: white;
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 600;
}
.banner-details p {
    color: white;
    font-size: 16px;
    font-weight: 300;
}
.food-details {
    display: flex;
    justify-content: space-between;
}
.display-details .food-column {
    width: 20%;
    flex: 0 0 20%;
    padding-left: 10px;
}
.display-details {
    padding-right: 15px;
    padding-left: 5px;
}

.product-details {
    background-color: white;
    border-radius: 10px;
    position: relative;
    padding: 1rem;
}
.product-details .onsale-details {
    position: absolute;
    left: 0;
    top: 0;
}
.product-details .onsale-details span {
    background: #fec601;
    font-size: 12px;
    font-weight: 500;
    padding: 4px 14px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.product-details .top-img {
    position: absolute;
    top: 4px;
    right: 1px;
    width: 25px;
    z-index: 9;
}
.product-details .top-img img {
    width: 18px;
    margin-bottom: 7px;
}
.product-details .top-img img.b {
    width: 20px;
}
.product-details .food-img {
    height: 200px;
    display: flex;
    align-items: center;
}

.product-details .food-content h6 {
    font-size: 13px;
    color: #414142;
}
.product-details .food-content p.weight {
    font-size: 12px;
    color: #696969;
    margin: 7px 0;
}
.product-details .food-content p.weight span {
    float: right;
}

.product-details .food-content p.price {
    font-size: 13px;
    font-weight: 700;
    color: #414142;
    margin-bottom: 0.5rem;
}
.product-details .food-content p.price del {
    font-size: 10px;
    margin-left: 10px;
}

.product-details a.btn.btn-list {
    font-size: 0.875rem;
    width: 100%;
    padding-bottom: 0;
    padding-top: 0px;
    font-weight: 600;
    margin-top: 5px;
}

.feature-details {
    margin: 2rem 0 0rem;
}
.food-details h5 {
    color: #24211f;
    font-weight: 700;
    margin-bottom: 1rem;
}
div#owl-slider {
    margin-bottom: 1.2rem;
}

.feature-details a {
    display: inline-block;
    color: #0066c0;
    font-weight: 600;
    font-size: 13px;
    text-decoration: none;
}

.owl-nav,
.owl-prev {
    font-size: 0;
}
.owl-prev:before {
    content: '\f104';
    font-family: fontawesome;
    position: absolute;
    font-size: 25px;
    line-height: 48px;
    width: 48px;
    height: 48px;
    border-radius: 50px;
    border: 1px solid #e7e7e7;
    text-align: center;
    color: #888;
    background: white;
    box-shadow: 0 3px 3px 0 #ccc;
    top: 38%;
    left: -14px;
}
.owl-next:before {
    content: '\f105';
    font-family: fontawesome;
    position: absolute;
    font-size: 25px;
    line-height: 48px;
    width: 48px;
    height: 48px;
    border-radius: 50px;
    border: 1px solid #e7e7e7;
    text-align: center;
    color: #888;
    background: white;
    box-shadow: 0 3px 3px 0 #ccc;
    right: -14px;
    top: 38%;
}
.owl-carousel .owl-item .top-img img {
    width: 20px;
}
.owl-carousel .owl-item .top-img img.b {
    width: 22px;
}
.fresh-food-details {
    margin: 3.5rem 0 0rem;
}
.fresh-food-details img {
    width: 100%;
}
.fresh-food-details h5 {
    font-size: 20px;
    margin-bottom: 5px;
    color: rgb(65, 65, 66);
    font-weight: 800;
    margin-top: 1.5rem;
}

.fresh-food-details p {
    color: #535353;
    font-size: 14px;
}
button.btn.btn-order {
    background: #5ab7d4;
    color: white;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    /* height: 42px; */
    /* padding: 0 16px; */
    margin-top: 10px;
    transition: 0.5s all;
    border: 0;
    padding: 8px 16px;
}

button.btn.btn-order:hover {
    background: #258cac;
}

.cart-button {
    position: relative;
    color: #fff;
    border: 0;
    border-radius: 20px;
    width: 100%;
    padding: 10px;
    overflow: hidden;
    background: #dc2a27;
    height: 38px;
    color: white;
}
.cart-button:hover {
    background: #b31f1d;
}
.cart-button:focus {
    outline: none !important;
}
.button {
    border: 0;
}
button.cart-button {
    border: 0;
}

/*.cart-button .fa-plus {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 22%;
    font-size: 1.2em;
    transform: translate(-50%, -50%)
}*/

.cart-button .fa-circle-thin {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: -20%;
    font-size: 1.5em;
    transform: translate(-50%, -50%);
}

.cart-button .fa-check {
    position: absolute;
    z-index: 1;
    top: -52%;
    left: 20%;
    font-size: 0.7em;
    transform: translate(-50%, -50%);
}
button.cart-button.clicked span {
    position: relative;
    left: 0;
}
.cart-button span {
    position: absolute;
    left: 50%;
    top: 49%;
    color: #fff;
    transform: translate(-50%, -50%);
    font-size: 0.875rem;
    font-weight: 700;
}

.cart-button span.added {
    opacity: 0;
}

/*.cart-button.clicked .fa-plus {
    animation: addicon 2s ease-in forwards
}*/

.cart-button.clicked {
    animation: color 2s ease-in forwards;
}

.cart-button.clicked span.add-to-cart {
    animation: addcart 0s ease-in forwards;
}

/*.cart-button .skin-5 .num-in span.minus {
    position: absolute;
    top: -7px;
}*/
.cart-button .skin-5 .num-in {
    border: none;
}
.cart-button .skin-5 .num-in input {
    height: auto;
    position: absolute;
    top: -13px;
    right: 7px;
    color: white;
    font-weight: 700;
}
.cart-button .skin-5 .num-in span.plus {
    position: absolute;
    text-align: right;
    left: 100%;
    margin-left: 31px;
}
.skin-5 .num-in {
    width: 107px;
    float: left;
    vertical-align: middle;
    position: relative;
    border: 1px solid #eeeff1;
    border-radius: 3px;
}
.product-quantity-cart {
    margin: 0 20px;
}
input.in-num:focus {
    outline: 0 !important;
    background: none;
}

.skin-5 .num-in span {
    width: 20px;
    display: block;
    /* line-height: 28px; */
    top: 0px;
    font-size: 13px;
    margin-left: 3px;
}

.skin-5 .num-in span.minus {
    float: left;
    text-align: right;
    cursor: pointer;
}

.skin-5 .num-in input {
    height: 28px;
    width: 46px;
    float: left;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin-left: 11px;
    background: transparent;
    border: none;
}

.skin-5 .num-in span.plus {
    text-align: left;
    cursor: pointer;
    text-align: right;
}
@keyframes addicon {
    0% {
        opacity: 1;
    }

    30%,
    100% {
        opacity: 0;
    }
}

@keyframes circle {
    0% {
        left: -10%;
    }

    100% {
        left: 20%;
    }
}

@keyframes check {
    0%,
    40% {
        top: -20%;
    }

    60% {
        top: 48%;
    }

    100% {
        top: 48%;
    }
}

@keyframes addcart {
    0%,
    30% {
        opacity: 1;
    }

    30%,
    100% {
        opacity: 0;
    }
}

@keyframes added {
    0%,
    80% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes color {
}

.shop-section {
    padding: 1rem;
    margin: 2rem 0;
    border-radius: 8px;
}
.shop-section .shop-border.food-details {
    border: 1px solid #dddddd;
    border-radius: 12px;
    margin: 1rem 0;
    padding: 0.5rem;
    height: 93px;
}
.shop-details h5 {
    font-weight: 700;
    font-size: 18px;
}
.shop-img {
    width: 82px;
    align-items: center;
    display: flex;
}
.shop-img img {
    width: 100%;
}

.shop-inner-details button.cart-button.cart1 {
    width: 30px;
    height: 30px;
    background-color: #f6f6f6;
    border-color: #f6f6f6;
    transition: 0.5s;
}

.shop-inner-details .cart-col {
    text-align: right;
}
.shop-inner-details button.cart-button.cart1.clicked {
    width: 100%;
    background-color: #dc2a27;
}
.shop-inner-details .cart-button .skin-5 .num-in span.minus {
    top: -2px;
}
.shop-inner-details .cart-button .skin-5 .num-in input {
    top: -12px;
    right: 51px;
    font-size: 14px;
}
.shop-inner-details .cart-button .skin-5 .num-in span.plus {
    left: 46%;
    top: -1px;
    margin-left: 0px;
}

.shop-inner-details .cart-button.cart1 span.add-to-cart {
    color: black;
}
.shop-inner-details button.cart-button.cart1:hover span.add-to-cart {
    color: white;
}
.shop-inner-details button.cart-button.cart1:hover {
    background-color: #dc2a27;
    border-color: #dc2a27;
}

.shop-section .shop-border.food-details .shop-inner-details {
    margin-left: 8px;
}
.shop-section .shop-border.food-details .shop-inner-details p {
    color: #7a726d;
    font-size: 14px;
}
.shop-section .shop-border.food-details .shop-inner-details .food-price p {
    color: black;
    font-size: 16px;
    margin-top: 7px;
}

.subscribe-info {
    background: #00506a;
    border-radius: 8px;
    padding: 1rem 0;
}
.subscribe-details h5 {
    color: white;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 5px;
}
.subscribe-details p {
    color: white;
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: 14px;
}
.subscribe-details .form-group {
    width: 100%;
    padding: 0 5px;
}
.subscribe-details form .food-details .form-group .form-control {
    width: 292px;
    height: 48px;
    border-radius: 8px;
    font-weight: 400;
}
.footer {
    background: #f5f5f5;
    padding: 1rem 0;
    margin-top: 2rem;
    border-bottom: 1px solid #dddddd;
}
.footer-content h5 {
    margin-bottom: 0.8rem;
    font-size: 18px;
    font-weight: 700;
}
.footer-content p {
    font-size: 12px;
    color: #7a726d;
    margin-top: 5px;
}
.footer-content ul li {
    margin-bottom: 8px;
}
.footer-content ul li a {
    font-size: 13px;
    color: #2e94b2;
}
.footer-content .contact-details i {
    font-size: 14px;
    color: #2e94b2;
    vertical-align: text-top;
    margin-top: 3px;
}
.footer-content .contact-details h6 {
    color: #24211f;
    font-size: 14px;
    font-weight: 500;
}
.footer-content .hours-details {
    margin-bottom: 1rem;
}

.custom-checkbox {
    margin: 0.5rem 0;
    height: 30px;
    position: relative;
}

input[type='radio'][id^='myradio'] {
    display: none;
}
input[type='checkbox'][id^='mycheckbox'] {
    display: none;
}

.payment-method label {
    border: 1px solid #bbbbbb;
    padding: 0rem 0.6rem;
    border-radius: 3px;
    font-size: 12px;
    cursor: pointer;
}
.date-details .pickup-date.payment-method {
    margin-right: 0.6rem;
}
.pickup-date.payment-method {
    display: inline-block;
}
.date-custom-select {
    text-align: center;
}
.pickup-date.payment-method :checked + label {
    background-color: #5ab7d4;
    border-color: #5ab7d4;
    color: white;
}
.dropdown.more-size {
    background: #e5e5e5;
    width: 28px;
    height: 20px;
    position: absolute;
    right: -3px;
    top: 3px;
    border-radius: 2px;
}
.dropdown.more-size button {
    padding: 0 7px;
    font-size: 12px;
    color: #5ab7d4;
}
.dropdown.more-size .dropdown-menu {
    min-width: 0;
    padding: 0;
}
.dropdown.more-size .dropdown-item {
    padding: 0 5px;
}

.dropdown.more-size button:after {
    display: none;
}
.bottom-footer {
    padding: 0.5rem 0;
}

.copyright-details {
    margin: auto 0;
}
p.copyright-content {
    color: #7a726d;
    margin-bottom: 0;
    font-size: 14px;
}
.footer-right {
    float: right;
}
.footer-right ul li {
    list-style: none;
    margin-left: 28px;
}
.footer-right ul li a {
    color: #2e94b2;
    text-decoration: none;
    font-size: 14px;
}

/*===================dropdown header modal design======================*/
.drop-modal .modal-dialog {
    max-width: 465px;
    position: absolute;
    right: 11.5%;
    top: 17%;
}
.drop-modal .modal-body {
    padding: 1rem 2.5rem;
}
.drop-modal .modal-content {
    border-radius: 12px;
}
.order-prefrence {
    margin-top: 0.7rem;
}
.drop-modal .order-prefrence h5 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 6px;
}
.drop-modal .order-prefrence p {
    font-size: 12px;
    color: #575757;
    margin-bottom: 1.4rem;
}
.delivery-tabs .nav-tabs .nav-link {
    border: 1px solid #c8c8c8;
    border-radius: 20px;
    font-weight: 400;
    color: black;
    font-size: 14px;
    width: 175px;
    height: 40px;
    text-align: center;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    border: 2px solid #c90000;
    border-color: #c90000;
    font-weight: 600;
}
.delivery-tabs h6 {
    color: #575757;
    font-size: 12px;
    margin-bottom: 0.6rem;
}
.delivery-tabs form.input-form {
    margin-top: 1rem;
}
.delivery-tabs form.input-form label {
    font-size: 14px;
    color: #575757;
}
.delivery-tabs form.input-form .form-control {
    border-radius: 20px;
    height: 40px;
    font-size: 14px;
}
.modal-content .modal-body .map p {
    color: #00506a;
}
.modal-content .modal-body .start-btn .btn {
    color: white;
    background: #dc2a27;
    border-radius: 20px;
    text-align: center;
    width: 100%;
    font-weight: 600;
    font-size: 14px;
    height: 40px;
    margin: 1.5rem 0 1rem;
}
.modal-content .modal-body .exit-details a {
    text-decoration: none;
    color: #6c6c6c;
    font-size: 12px;
}
/*===================/dropdown header modal design======================*/
@media (min-width: 1400px) {
    .container-fluid {
        max-width: 1400px;
    }
    .container-fluid.container-width {
        max-width: 100%;
    }
    .drop-col {
        flex: 0 0 auto;
    }
}

/*======================for minisidebar and arrow click sidebar=======================*/
.container1 {
    background-color: white;
    position: fixed;

    height: 100%;
    /* transition: width .3s; */
    z-index: 1000;
    border: 1px solid #e5e5e5;
    top: 34px;
    overflow-y: auto;
    overflow-x: hidden;
    border-top: 0;
    right: 59px;
    width: 0;
    margin-right: -66px;
    /*-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;*/
}
.container1:before {
    border: solid #e5e5e5;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    content: '';
    position: fixed;
    display: block;
    margin-top: 43px;
    margin-left: -5px;
    background: white;
}
.container1.open:before {
    display: none;
}
.container1.open {
    width: 266px;
}
.background {
    background: #5ab7d4;
    height: 42px;
}
.closeburger {
    position: relative;
    top: 7px;
    left: 18px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    background: #56aac5;
    border-radius: 50px;
    text-align: center;
    line-height: 30px;
    color: white;
}
.open .closeburger {
    background: transparent;
    left: 87%;
    top: 4px;
}
.closeburger:before {
    content: '\f104';
    top: 5px;
    transition: top 500ms ease 500ms, transform 500ms ease;
    font-family: fontawesome;
}

.open .closeburger:before {
    content: '\f00d';
    top: 5px;
    transition: top 500ms ease 500ms, transform 500ms ease;
    font-family: fontawesome;
    font-size: 14px;
}
.container1 .main-cart {
    display: none;
}
.container1.sidebar-front {
    display: block;
}
.container1.open .main-cart {
    display: block;
}
.container1.open .sidebar-front {
    display: none;
}
.food-images {
    width: 40px;
    margin: auto;
}
.container1 .sidebar-front .food-images img {
    width: 100%;
    margin-top: 1.5rem;
}
.main-cart .cart-padding {
    padding: 0.8rem;
}
.main-cart .cart-title {
    position: absolute;
    top: 12px;
}
.main-cart .cart-title h6 {
    font-size: 14px;
    color: white;
}
.main-cart .estimate-order {
    background: #f6f6f6;
    border-radius: 12px;
    padding: 0.8rem;
}
.main-cart .estimate-order h6 {
    color: #24211f;
    font-weight: 600;
    margin-bottom: 5px;
}
.main-cart .estimate-order h6 span {
    font-size: 12px;
    font-weight: 500;
}
.main-cart .estimate-order p {
    font-size: 12px;
    color: #696969;
}
.main-cart button.btn.btn-proceed {
    background: #fec601;
    border: 1px solid #ffc601;
    border-radius: 28px;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    margin: 1rem 0;
    height: 40px;
    transition: 0.5s all;
}
.main-cart button.btn.btn-proceed:hover {
    background: #f0bb02;
    border-color: #f0bb02;
}
.cart-inner-details {
    margin-left: 10px;
}
.cart-food-details {
    background: #eeeeee;
    padding: 0.5rem 0.8rem;
    margin-bottom: 0.5rem;
}
.cart-food-details h6 {
    font-size: 14px;
    color: #333333;
}
.cart-food-details h6 span {
    float: right;
    font-size: 12px;
    margin-top: 1px;
}
.cart-inner-details h6 {
    font-size: 13px;
    color: #24211f;
}
.close-btn h6 {
    width: 22px;
    height: 22px;
    background: #f6f6f6;
    border-radius: 50px;
    text-align: center;
    line-height: 22px;
    margin-top: 0.4rem;
    cursor: pointer;
}

.skin-2 .num-in span {
    width: 35%;
    display: block;
    height: 21px;
    float: left;
    position: relative;
    cursor: pointer;
}
.cart-price {
    margin-left: 10px;
}

.cart-table.qty-button .product-quantity-cart .skin-5 .num-in {
    height: 22px;
    width: 61px;
    /* background: transparent; */
}
.cart-table.qty-button .product-quantity-cart .skin-5 .num-in span {
    position: absolute;
}
.cart-table.qty-button .product-quantity-cart .skin-5 .num-in input {
    right: 3px;
    top: -3px;
    font-size: 12px;
    position: absolute;
}
.cart-table.qty-button .product-quantity-cart .skin-5 .num-in span.plus {
    right: -4px;
    top: -4px;
}
.cart-table.qty-button .product-quantity-cart span.minus.decrement {
    top: -6px;
    float: none;
    left: -5px;
}
/*======================/for minisidebar and arrow click sidebar=======================*/

/*======================/for toggle and expand minisidebar and content=======================*/

#wrapper {
    padding-right: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-right: 59px;
}
#wrapper.toggled .container1 {
    width: 66px;
}
#wrapper.toggled .container1.open {
    width: 266px;
    transition-property: none;
}

@media (min-width: 768px) {
    #wrapper {
        padding-right: 0;
    }

    #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-left: 0;
    }
}
/*======================/for toggle and expand minisidebar and content=======================*/

/*====================single product details page==========================*/
#myCarousel {
    padding: 1rem;
}
#myCarousel .list-inline {
    white-space: nowrap;
    overflow-x: auto;
}

#myCarousel .carousel-indicators {
    position: static;
    left: initial;
    width: initial;
    margin-left: initial;
}

#myCarousel .carousel-indicators > li {
    width: 104px;
    height: 95px;
    text-indent: initial;
    opacity: 1;
    border: 1px solid #e8e8e8;
    border-radius: 8px;
    line-height: 95px;
}
#myCarousel ul {
    padding: 0;
}
.carousel-indicators li {
    margin-left: 0;
}
#myCarousel .carousel-indicators > li.active {
    border-color: #dc2a27;
}

#myCarousel .list-inline-item:not(:last-child) {
    margin-right: 9px;
}
ul.carousel-indicators.product-slider li a img {
    width: 100%;
}
ul.carousel-indicators.product-slider {
    padding-left: 8px;
}
.overlay {
    position: relative;
}

.overlay:after {
    content: '\f04b';
    font-family: 'FontAwesome';
    position: absolute;
    left: 45%;
    width: 20px;
    height: 20px;
    background: #ff9933;
    border-radius: 50px;
    text-align: center;
    line-height: 20px;
    font-size: 10px;
    top: 40%;
    color: white;
}

.single-pro.product-details .food-maintitle h5 {
    color: #24211f;
    font-weight: 600;
}
.single-pro.product-details .label-img {
    margin: 1rem 0;
}
.single-pro.product-details .label-img img {
    width: 26px;
}
.single-pro.product-details .food-content p.price {
    font-size: 18px;
}
.single-pro.product-details .cart-button {
    border-radius: 50px;
    height: 46px;
    font-size: 14px;
    height: 46px;
}

.single-pro.product-details .skin-5 .num-in span {
    font-size: 18px;
}
.single-pro.product-details input.in-num {
    font-weight: 700;
    font-size: 22px;
    right: -18px;
    top: -19px;
}
.single-pro.product-details .list-col {
    padding-left: 0;
}
.single-pro.product-details button.btn.btn-list {
    background: #dddddd;
    height: 46px;
    border-radius: 40px;
    width: 149px;
    font-size: 14px;
    font-weight: 600;
}
.single-pro.product-details .shared-details {
    width: 46px;
    height: 46px;
    background: #5ab7d4;
    text-align: center;
    line-height: 46px;
    border-radius: 30px;
    color: white;
    margin-left: 2px;
}
.single-pro.product-details .category-details p {
    color: #696969;
    font-size: 14px;
    margin-bottom: 3px;
}

/*==============modal for navbar===============*/
.sidebar-modal.modal.left .modal-dialog {
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}
.sidebar-modal.modal.left .modal-dialog {
    position: fixed;
    margin: auto;
    width: 500px;
    max-width: 100%;
    height: 100%;
}

.sidebar-modal.modal.left .modal-content {
    height: 100%;
    overflow-y: auto;
}

.sidebar-modal.modal.left .modal-body {
    padding: 0;
}

.sidebar-modal.modal.left.fade .modal-dialog {
    left: -500px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}

.sidebar-modal.modal.left.fade.show .modal-dialog {
    left: 0;
}

.sidebar-modal.modal.left .modal-content {
    border-radius: 0;
    border: none;
}

.sidebar-modal.modal.left .modal-dialog.modal-sm,
.modal.right .modal-dialog.modal-sm {
    width: 250px;
}
.sidebar-modal .modal-header {
    padding: 0.5rem 1rem;
}
.dropdown.bootstrap-select.form-control:hover {
    background-color: #e8e8e8;
}

/*======================cart css=====================*/
.main-section.main-cart {
    margin-top: 1rem;
}
.cart-pickup span {
    font-weight: 600;
    vertical-align: middle;
    margin-left: 5px;
}
.cart-selection h6 {
    margin-bottom: 1rem;
    font-weight: 500;
}
.cart-selection .pickup-date.payment-method {
    display: inline-block;
    margin-right: 8px;
}

.cart-selection .payment-method label {
    border: 1px solid #f7f7f7;
    padding: 0.6rem 1rem;
    border-radius: 6px;
    font-size: 11px;
    cursor: pointer;
    background: #f7f7f7;
    text-align: center;
}

.cart-selection .pickup-date.payment-method :checked + label {
    border-color: #dc2a27;
    background-color: #f7f7f7;
    color: black;
}
.cart-table .clost-btn span {
    width: 36px;
    height: 36px;
    background: #f6f6f6;
    border-radius: 50px;
    text-align: center;
    line-height: 36px;
    margin-top: 4px;
    /* vertical-align: middle; */
}
.cart-table .cart-img {
    padding-left: 0;
}
.cart-table .cart-img img {
    width: 60px;
}
.cart-table .food-content {
    padding-left: 0px;
}
.cart-table .food-content a.add-notes {
    font-size: 12px;
    color: #969696;
    text-decoration: none;
}
.cart-table .product-details .food-content p.price {
    margin-top: 9px;
}

.cart-table .product-quantity-cart .skin-5 .num-in {
    border: 1px solid gray;
    border-radius: 20px;
    /* height: 36px; */
    padding: 4px 0;
}
.cart-table .product-quantity-cart .skin-5 .num-in span.plus {
    margin-right: 8px;
}
.cart-table tr.border-details td {
    border-top: 0;
}
.cart-items h6 {
    font-weight: 600;
    font-size: 14px;
}
.cart-items h6 span {
    font-size: 14px;
    color: #535353;
}
#right-content .shop-section form .form-control.input-control {
    border-color: #696969;
    border-radius: 6px;
    font-size: 14px;
    /* padding: 23px 13px; */
}
#right-content .shop-section form input.form-control.input-control {
    height: 44px;
}
#right-content .main-cart button.btn.btn-proceed {
    height: 46px;
}

.scrollbar {
    height: 450px;
    overflow-y: scroll;
    margin-bottom: 0px;
}

.force-overflow {
    min-height: 450px;
}

.cart-item-details.ct-info {
    padding-right: 5px;
}

#style-4::-webkit-scrollbar {
    width: 5px;
}

#style-4::-webkit-scrollbar-thumb {
    background-color: #5ab7d4;
    border-radius: 20px;
}
.most-product .cart-row {
    padding-left: 0;
}
.most-product .pro-list span {
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-radius: 50px;
    background-color: #f6f6f6;
    text-align: center;
    margin-top: 5px;
}
.most-product .cart-row .cart-button .skin-5 .num-in input {
    right: -12px;
}
.most-product .cart-row .cart-button .skin-5 .num-in span.plus {
    margin-left: 62px;
}
#owl-slider .owl-stage {
    right: 60px;
}
.select-add {
    display: flex;
}
.cart-table .table td,
.table th {
    padding-left: 0;
}

/*====================single product details page==========================*/
.main-section .food-details.main-title h5 {
    font-size: 18px;
}
.main-section .pickup-details {
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    padding: 1rem;
}
.main-section .order-address {
    display: flex;
}
.main-section .pickup-details .order-info .order-address .oadd-details {
    margin-left: 8px;
}

.main-section .pickup-details .order-info .order-address .oadd-details p {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
}
.main-section .pickup-details .order-info .order-date p {
    margin-bottom: 0;
    color: #333333;
    font-size: 14px;
}
.main-section .pickup-details .order-column {
    margin: auto;
}
.main-section .pickup-details .order-column .order-status {
    text-align: center;
}
.main-section .pickup-details .order-column .order-status a.btn.btn-change {
    border: 1px solid #dc2a27;
    height: 34px;
    font-size: 14px;
    font-weight: 700;
    width: 176px;
}
.main-section .payment-method.payment.contact-info label {
    width: 290px;
}
.main-section .payment-method.payment label {
    border: 1px solid #ccc;
    border-radius: 6px;
    position: relative;
    cursor: pointer;
    width: 295px;
    padding: 1rem;
    display: inline-block;
    margin-right: 0.8rem;
    margin-bottom: 0;
}
.main-section .payment-method.payment.contact-info label h6.user-title {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.main-section .payment-method.payment.contact-info label p.country-contact {
    margin-bottom: 1.5rem;
    font-weight: 600;
    font-size: 12px;
}
.main-section .payment-method.payment.contact-info label .add-edit {
    text-align: right;
}
.main-section .payment-method.payment.contact-info label .add-edit a {
    color: #009fce;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}
.main-section .cf-subtitle {
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 14px;
    color: #696969;
    margin-right: 12px;
}
.main-section .payment-method.payment .visa-card i {
    cursor: pointer;
}
.main-section .payment-method.payment .card-number {
    margin-top: 14px;
    margin-bottom: 14px;
}
.main-section .payment-method.payment .card-number span {
    color: #333333;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 600;
    margin-right: 3px;
}
.main-section .payment-method.payment .chekcout-card .card-holder p {
    font-size: 12px;
    color: #696969;
    margin-bottom: 5px;
}
.main-section .payment-method.payment .chekcout-card .card-holder h6 {
    font-size: 14px;
    font-weight: 700;
    color: #333333;
    margin-bottom: 0;
}
.main-section .review-product .shop-add {
    margin: auto 10px;
}
.main-section .review-product .shop-add p {
    font-size: 14px;
    width: 75%;
    margin-bottom: 0;
}
.main-section .review-product .review-content p {
    font-size: 14px;
    font-weight: 500;
    color: #333333;
    margin-bottom: 0;
}
.main-section .review-product .review-content p span {
    color: #dc2a27;
}
.main-section .review-product .review-price p {
    font-weight: 700;
    margin-bottom: 0;
    font-size: 1.125rem;
}
.main-section .cart-item-content {
    margin: auto;
}
.main-section .cart-item-content p {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
}
.main-section .cart-item-content p span {
    color: #dc2a27;
    margin-left: 20px;
    font-weight: 700;
}
.main-section a.btn.btn-cart {
    width: 100%;
    color: white;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    height: 38px;
    transition: 0.5s;
    background: #dc2a27;
    font-size: 0.875rem;
    border-radius: 25px;
}
.main-section .bottom-chebtn a.btn.btn-cart {
    width: 240px;
    padding: 7px;
}
.main-section .sub-total p {
    font-size: 14px;
    margin-bottom: 0;
    color: #24211f;
}
.main-section .sub-total.amt-minus p {
    color: #00a560;
}
.main-section .sub-total.amt-plus p {
    color: #dc2a27;
}
.main-section .sub-total.amt-total p {
    font-weight: bold;
    font-size: 16px;
}
.main-section .proceed-button-check a.btn.btn-cart {
    padding: 7px;
}
.proceed-button-check {
    margin: 1rem 0;
}
.main-section .coupon-details {
    margin-top: 14px;
}
.main-section .coupon-details input {
    height: 40px;
}
.main-section .form-control.info-control {
    border-color: #ededed;
    height: 44px;
    font-size: 14px;
}
.main-section form label {
    font-size: 12px;
    font-weight: 500;
}
.main-section .coupon-details .input-group-text {
    font-size: 13px;
    color: white;
    background-color: #dc2a27;
    border: 1px solid #dc2a27;
    border-radius: 0.25rem;
    cursor: pointer;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-weight: 600;
    border-left: 0;
}
.main-section .cf-subtitle {
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 13px;
    color: #696969;
    margin-right: 12px;
}
.main-section hr.amt-border {
    margin-top: 10px;
    margin-bottom: 10px;
}
.single-btn .cart-button span {
    font-size: 18px;
}
.single-btn .cart-button .skin-5 .num-in span.plus {
    margin-left: 78px;
}
.single-btn .skin-5 .num-in span.minus {
    margin-left: 10px;
}
/*====================/single product details page==========================*/

/*====================personal information===========================*/

.row-margin {
    margin-top: 1rem;
    margin-bottom: 3rem;
}
.main-section .account-details {
    margin-bottom: 1rem;
}
.account-details:last-child {
    margin-bottom: 0;
}
.main-section .account-details h6 {
    font-weight: 700;
    margin-bottom: 4px;
}
.main-section .account-details ul li .nav-link {
    padding: 0.3rem 0rem;
    font-size: 13px;
    color: #414141;
}
.main-section .account-details ul li .nav-link.active {
    color: #dc2a27;
    font-weight: 600;
}

.main-section .form-row.form-info .info-control {
    border-color: #c4c4c4;
    height: 44px;
    font-size: 13px;
}
.main-section .form-row.form-info label {
    color: #333333;
    font-size: 13px;
}
.update-btn a.btn.btn-cart {
    padding: 0.4rem 2rem;
    width: auto;
}
h6.account-title.info {
    margin-top: 8px;
}
/* The switch - the box around the slider */
.switch {
    position: absolute;
    display: inline-block;
    width: 43px;
    height: 22px;
    right: 15px;
}

/* Hide default HTML checkbox */
.switch input {
    display: none;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0px;
    bottom: 0;
    background-color: #e9e9e9;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: '';
    height: 22px;
    width: 22px;
    background-color: #5ab7d4;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input.default:checked + .slider {
    background-color: #e9e9e9;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
    background: #5ab7d4;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.main-section .billing-details .offer-details h6 {
    font-size: 15px;
    margin-bottom: 4px;
    font-weight: 600;
}
.main-section .billing-details .offer-details p {
    font-size: 12px;
    margin-bottom: 0;
    color: #696969;
}

.toggle-switch {
    margin: auto 0;
}
.list-details {
    position: relative;
    border-bottom: 1px solid #e5e5e5;
    padding: 1rem 0;
}
.list-details:first-child {
    padding-top: 0;
}
.list-details:last-child {
    border-bottom: 0;
}
.form-group.npassword {
    position: relative;
}
.form-group.npassword i {
    position: absolute;
    top: 44px;
    right: 12px;
    color: #c4c4c4;
}

p.country-add {
    margin-bottom: 0.4rem;
    font-size: 11px;
    color: #333333;
}
p.country-contact {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 11px;
}
h6.user-title {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
}
.add-edit {
    text-align: right;
}
.add-edit a {
    color: #dc2a27;
    font-size: 12px;
    font-weight: 600;
}
p.crd-title {
    font-size: 10px;
    color: #333333;
    margin-bottom: 5px;
}

.card-number span {
    color: #333333;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 500;
    margin-right: 10px;
}
.card-number {
    margin-top: 14px;
    margin-bottom: 14px;
}
.visa-card i {
    cursor: pointer;
}
.payment-col1 {
    padding-right: 8px;
}
.payment-col {
    padding-left: 8px;
}

/*====================/personal information===========================*/

/*====================order successfully popup===========================*/
.order-successful {
    background: white;
    border-radius: 5px;
    text-align: center;
    width: 450px;
    padding: 2.5rem 5rem;
    margin-top: 6rem;
}
.orders-title {
    font-weight: bold;
    margin-bottom: 5px;
}
.orders-id {
    font-size: 14px;
    color: #333333;
    font-weight: 600;
    margin-bottom: 0;
}
.orders-subtitle {
    color: #696969;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 1.8rem;
}
.tick-icon {
    height: 85px;
    width: 85px;
    margin: auto;
    border: 3px solid #00cc14;
    border-radius: 50%;
    line-height: 85px;
    margin-bottom: 1rem;
    cursor: pointer;
}
.tick-icon i {
    font-size: 32px;
    color: #00cc14;
}
/*====================/order successfully popup===========================*/
.main-section .order-table .table td,
.table th {
    padding: 0.95rem 0;
    vertical-align: middle;
    border-top: 1px solid #e5e5e5;
}
.main-section .order-table td {
    font-size: 14px;
}
.main-section .order-table .table thead th {
    border-bottom: 1px solid #e5e5e5;
    border-top: 0;
    padding-top: 0;
    font-weight: 600;
    font-size: 15px;
}
.main-section .delivery-details {
    padding-left: 12px;
}
.main-section .delivery-details p {
    font-size: 14px;
    margin-bottom: 0;
}
.main-section a.btn.btn-view {
    font-size: 14px;
    background: #e5e5e5;
    padding: 0.3rem 1rem;
}
.main-section .page-details p {
    font-size: 12px;
    color: #696969;
    margin-bottom: 0;
}
.main-section .chevron-icon i {
    width: 28px;
    height: 28px;
    background: #f2f2f2;
    text-align: center;
    line-height: -4px;
    border-radius: 5px;
    font-size: 14px;
    padding-top: 7px;
    color: #c4c4c4;
    margin-right: 0.5rem;
    cursor: pointer;
}
.main-section .chevron-icon i.active {
    background-color: red;
    color: white;
}

/*=================order details page=======================*/
.order-breadcrumb .breadcrumb {
    padding: 8px 0;
    background-color: transparent;
}
.order-breadcrumb .breadcrumb a {
    background-color: transparent;
    font-weight: 600;
    font-size: 20px;
    color: #dc2a27;
}
.order-breadcrumb .breadcrumb a:hover {
    color: #dc2a27;
    text-decoration: none;
}
.order-breadcrumb .breadcrumb-item.active {
    color: #333333;
    font-weight: 700;
    font-size: 20px;
}
.order-breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    color: #333333;
}

.main-section h6.order-title {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 0;
}
.main-section .order-address-details {
    margin-left: 8px;
}
.main-section .order-address-details p {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
}
.main-section .order-date p {
    margin-bottom: 0;
    color: #333333;
    font-size: 14px;
}
.main-section .order-status {
    text-align: center;
}
.main-section .order-status h6 {
    font-size: 14px;
    font-weight: 600;
    color: #333333;
}
.main-section .order-status h6.ostatus-deliver {
    color: #00a560;
    margin-bottom: 5px;
}
.grid-divider {
    position: relative;
    padding: 0;
}
.grid-divider > [class*='col-'] {
    position: static;
}
.grid-divider > [class*='col-']:nth-child(n + 2):before {
    content: '';
    border-left: 1px solid #c4c4c4;
    position: absolute;
    top: -16px;
    bottom: -17px;
    margin-left: -19px;
}
.main-section .order-notes p {
    font-size: 13px;
    margin-bottom: 0;
    margin-top: 1rem;
}
.main-section .order-notes p span {
    font-weight: 600;
}
.main-section .ostatus-col {
    margin: auto;
}

.main-section .order-card {
    margin-top: 1rem;
}

/*=============checkbox==============*/
/* The check */
.check {
    display: block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 600;
    margin-bottom: 0;
}

/* Hide the browser's default checkbox */
.check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 15px;
    width: 15px;
    border: 1px solid #c4c4c4;
    border-radius: 2px;
}

/* When the checkbox is checked, add a blue background */
.check input:checked ~ .checkmark {
    background-color: #dc2a27;
    border: none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: '';
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.check input:checked ~ .checkmark:after {
    display: block;
}

a.btn.btn-reorder {
    background: #dc2a27;
    color: white;
    font-size: 13px;
    font-weight: 600;
    height: 30px;
    width: 114px;
    padding: 4px;
}
.custom-check {
    margin: auto 0;
}

.odfood-table .table td,
.table th {
    padding: 0;
    vertical-align: baseline;
    padding-bottom: 0.75rem;
}

th.col-three {
    width: 31%;
}
th.col-two {
    width: 60%;
}

.main-section .order-food .shop-add p {
    font-size: 14px;
    width: 75%;
    margin-bottom: 0;
}
.food-check .check {
    padding-left: 30px;
}
.food-check .checkmark {
    top: 14px;
}

.main-section .odfood-qty {
    font-size: 14px;
    font-weight: 700;
}
.table {
    margin-bottom: 0;
}

.odfood-table h6 {
    color: #333333;
    font-weight: 600;
}

/*============================css for merge==============================*/

/*===============checkout=======================*/
.food-details.edit-info {
    margin-top: 1.9rem;
}
.payment-method .edit-content {
    margin: auto 0;
}
.payment-method .edit-content a {
    font-size: 14px;
    color: #00506a;
    font-weight: 600;
    text-decoration: none;
}
.payment-method button.btn.btn-select {
    background: #5ab7d4;
    color: white;
    height: 32px;
    font-size: 14px;
    border-radius: 20px;
    width: 84px;
    font-weight: 600;
    padding: 1px;
}
.payment-method button.btn.btn-select:hover {
    background: #007297;
}
.food-details.review-details h5 {
    font-size: 16px;
}
td.product-details.cart-width.cart-alignment.review-align {
    vertical-align: baseline;
}
.pro-qty {
    border: 1px solid #bbbbbb;
    text-align: center;
    height: 30px;
    border-radius: 20px;
}
.pro-qty span {
    font-size: 14px;
    font-weight: 600;
}
.food-details.feature-details.review-details {
    margin-top: 1rem;
}
/*===============/checkout=======================*/

.cart-heading {
    padding: 8px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 32px;
}
.cart-heading h4 {
    font-size: 24px;
    font-weight: 600;
}

.main-section.checkout-info .food-details.main-title h5 {
    font-size: 16px;
}
.main-section .sub-total .item-text p {
    font-weight: 700;
}
.main-section .sub-total.amt-total .text-total p {
    font-weight: 600;
    font-size: 18px;
}

.main-section .sub-total .item-text.text-price p {
    font-size: 21px;
}

.main-section a.btn.btn-cart:hover {
    background: #b31f1d;
}

.review-right {
    margin: auto;
}

.main-section .review-img {
    width: 64px;
    height: 64px;
    margin-right: 16px;
}
.main-section .review-img img {
    width: 100%;
}

.main-section .order-info .order-date p {
    font-weight: 600;
}

.food-details .card-holder .crd-holder-name {
    font-weight: 600;
}

.odfood-table td.odfood-qty.qty-color {
    color: #dc2a27;
}

a.btn.btn-reorder:hover {
    background: #b31f1d;
}

.table-responsive.cart-table td {
    vertical-align: baseline;
}
td.product-details.product-width {
    width: 57%;
}
td.product-details.cart-width {
    width: 12%;
}
td.button-width {
    width: 7%;
}
td.product-details.product-width .food-content {
    margin-top: 5px;
}
td.product-details.cart-width.cart-alignment {
    vertical-align: -webkit-baseline-middle;
}
.cart-table .cart-img .review-img {
    height: auto;
}
.main-section.main-cart .form-control.input-control {
    font-size: 14px;
    padding: 1.3rem 0.75rem;
}

.home-slider .food-details h5 {
    font-size: 16px;
}
.home-slider .food-details.feature-details {
    justify-content: inherit;
    margin: 3rem 0 0rem 1rem;
}
.home-slider .feature-details a {
    margin-left: 16px;
    vertical-align: super;
    color: #009fce;
    font-weight: 600;
    font-size: 14px;
}
.home-slider .feature-details a:hover {
    color: #0078a0;
}

.gradient {
    /* background: rgb(16,123,221); */
    background: linear-gradient(
        180deg,
        rgba(16, 123, 221, 1) 0%,
        rgba(1, 89, 169, 1) 55%
    );
    width: 15.56px;
    height: 15.56px;
    border-radius: 2px;
    transform: rotate(45deg);
    margin-left: 3px;
    margin-top: 3px;
    /* background: rgb(1,89,169); */
    /* background: linear-gradient(
180deg
, rgba(1,89,169,1) 0%, rgba(16,123,221,1) 55%); */
}
.gradient h6 {
    color: white;
    font-size: 10px;
    text-align: center;
    /* line-height: 20px; */
    padding-top: 1.5px;
    transform: rotate(315deg);
    padding-right: 1px;
}
/*============================/css for merge==============================*/

.cart-alignment .skin-5 .num-in span {
    font-size: 10px;
    position: absolute;
    top: 12px;
}
.cart-alignment .skin-5 .num-in span.plus {
    right: 5px;
}
.cart-alignment .skin-5 .num-in span.minus {
    left: 0;
}
.cart-alignment .skin-5 .num-in input {
    width: 86px;
}

.breadcrumb-details .breadcrumb {
    padding: 0.75rem 1.5rem;
    background-color: white;
    border-radius: 27px;
    width: fit-content;
}
.breadcrumb-details li.breadcrumb-item a {
    font-size: 14px;
    color: #696969;
    text-decoration: none;
}
.breadcrumb-details .breadcrumb-item + .breadcrumb-item::before {
    font-size: 16px;
    color: #6c757d;
    /* content: "/"; */
    content: '\f105';
    font-family: fontawesome;
}
.breadcrumb-details li.breadcrumb-item a i {
    font-size: 20px;
    vertical-align: text-top;
}
.breadcrumb-details .breadcrumb-item.active {
    color: #24211f;
    font-size: 14px;
    margin-top: 1px;
}

/*====================login singup page css===========================*/
.login-column {
    max-width: 39.5%;
    flex: 0 0 39.5%;
}
section.main-height {
    min-height: calc(100vh - 155px);
}
.signin-info {
    margin: 2rem 0;
}
.signin-info h5 {
    color: #d30000;
    font-weight: 600;
    margin-bottom: 7px;
}
.signin-info p {
    color: #696969;
    font-size: 14px;
    font-weight: 500;
}
.kpx_loginOr {
    position: relative;
    margin: 1rem 0;
}
.kpx_loginOr .kpx_hrOr {
    background-color: #dadada;
}
.kpx_loginOr .kpx_spanOr {
    display: block;
    position: absolute;
    left: 50%;
    top: 5px;
    margin-left: -1.5em;
    background-color: white;
    width: 3em;
    text-align: center;
    font-size: 14px;
}
.main-section form .forget-details {
    /* margin-bottom: 1.2rem; */
    margin: 1.2rem 0;
}
.main-section form .forget-details a {
    font-size: 14px;
    color: #00506a;
    margin-left: 5px;
    font-weight: 500;
}
.main-section form .checkmark {
    top: 1px;
    height: 20px;
    width: 20px;
    border: 0;
    background: #ededed;
}
.main-section form .custom-check.login-check {
    /* margin: 1rem 0 1.5rem; */
    margin-bottom: 1.6rem;
}
.main-section form .login-check label {
    font-size: 14px;
    color: #24211f;
}
.main-section form .login-check label a {
    color: #00506a;
}
.main-section form .create-account p {
    font-size: 14px;
    color: #24211f;
    margin-top: 1.2rem;
}
.main-section form .create-account p a {
    color: #00506a;
}
.main-section form .google-icon img {
    width: 20px;
}
.main-section form .google-button {
    background: #4688f1;
    width: 210px;
    height: 44px;
    margin: auto;
    border-radius: 25px;
    cursor: pointer;
}
.main-section form small {
    font-size: 12px;
    color: #535353;
}
.main-section form .google-button .google-icon {
    width: 38px;
    height: 38px;
    background: white;
    border-radius: 20px;
    line-height: 35px;
    margin: auto 5px;
}
.main-section form .google-sign h6.login-title {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 1rem;
}
.main-section form .google-button .google-content {
    margin: auto auto auto 5px;
}
.main-section form .google-button .google-content h6 {
    color: white;
    font-size: 14px;
    font-weight: 600;
}
/*====================/login singup page css===========================*/

/*====================/account latest css===========================*/
.main-section .user-personal-details {
    margin-bottom: 1.5rem;
}

.main-section .user-personal-details h6 {
    font-size: 14px;
    color: #414141;
    margin-bottom: 4px;
}

.payment-method .edit-button button.btn.btn-select {
    width: 126px;
}
.main-section .address-info h6 {
    color: #24211f;
    margin-bottom: 4px;
    font-weight: 600;
}
.main-section .address-info p.address2 {
    font-size: 14px;
    color: #696969;
    margin-bottom: 4px;
}
.address-btn button.btn.btn-address {
    background: #5ab7d4;
    color: white;
    font-size: 14px;
    font-weight: 600;
    border-radius: 20px;
    height: 40px;
    padding: 0 35px;
    transition: 0.5s all;
}
.address-btn button.btn.btn-address:hover {
    background: #258cac;
}
.payment-method.payment.pay-card label {
    border: 0;
    width: 100%;
    padding: 0;
    padding: 1rem;
}

.payment-method.payment.pay-card {
    background-image: url(../images/payment.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.main-section .pickup-order {
    padding: 1rem;
}
.main-section .pickup-order h6 {
    font-size: 14px;
    color: #24211f;
    font-weight: 600;
}
.main-section .pickup-order p {
    font-size: 12px;
    color: #696969;
    margin: 5px 0;
}
.main-section .pickup-order h6.pickup-amt {
    font-size: 13px;
    color: black;
}
.main-section .pickup-card {
    margin: auto 0;
}
.main-section .pickup-order .pickup-way h6 {
    color: #016d90;
    font-size: 13px;
    font-weight: 600;
    font-style: italic;
}
.main-section .pickup-way.food-details {
    margin: 0.6rem 0 0;
}
.filter-design {
    border-radius: 25px;
    padding: 0.5rem;
}

.filter-design .page-link {
    background: #f3f3f3;
    padding: 0;
    color: #696969;
    /* background-color: transparent; */
    border: 0;
    font-weight: 500;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    border-radius: 20px;
    font-size: 14px;
}
.filter-design .page-item.active .page-link {
    z-index: 3;
    color: black;
    background-color: #eec02a;
    border-color: #eec02a;
    border-radius: 20px;
}
li.page-item.page-item-navigation {
    color: #696969;
    margin: auto 0;
}

/*====================/account latest css===========================*/
