@media screen and (max-width: 767px) {
    .sidebar {
        display: none;
    }
    .column {
        padding-left: 15px;
        max-width: 100%;
        flex: 0 0 100%;
    }
    .display-details .food-column {
        width: 50%;
        flex: 0 0 50%;
        margin-bottom: 1rem;
    }
    .mid-head-details {
        display: block;
    }
    .cart-button span{
        left: 38%;
        transform: translate(-30%, -50%);
    }

    .shop-details .cart-button span {
        left: 30%;
    }
    .cart-button input.in-num {
        margin-left: -23px;
    }
    .cart-button.clicked span {
        left: 40%;
        transform: translate(-50%, -50%);
    }
    .drop-col {
        width: 100%;
    }
    .owl-prev:before {
        font-size: 23px;
        line-height: 36px;
        width: 36px;
        height: 36px;
        top: 22%;
    }
    .owl-next:before {
        width: 36px;
        height: 36px;
        font-size: 23px;
        line-height: 36px;
        top: 22%;
    }
    .food-details mb-sm.feature-details h5 {
        font-size: 16px;
    }
    .food-details mb-sm.subscribe-display {
        display: block;
        padding: 0 0.6rem;
    }
    .footer-content.alignment {
        text-align: left;
        margin-top: 1rem;
    }
    .search-bar-col {
        margin: auto 0px;
    }
    .head-content {
        display: block;
    }

    .pickup-selection .dropdown .btn {
        height: auto;
        position: relative;
        margin: 0.5rem 0;
        text-align: start;
    }
    .pickup-selection .dropdown-toggle::after {
        position: absolute;
        right: 20px;
        top: 14px;
    }
    .drop-modal .modal-dialog {
        max-width: 100%;
        position: absolute;
        right: 0;
        top: 23%;
    }
    .delivery-tabs .nav-tabs .nav-link {
        width: 126px;
    }
    .sidebar h5 {
        border-bottom: 1px solid rgb(247, 247, 247);
        font-size: 18px;
        font-weight: 600;
        padding: 10px 0;
    }
    .sidebar ul {
        padding-left: 0;
    }

    .menu-col.top-header ul li {
        margin-bottom: 6px;
    }
    .menu-col.top-header {
        margin-bottom: 6px;
    }
    .banner-details h5 {
        font-size: 16px;
    }
    .banner-details p {
        font-size: 14px;
    }
    .fresh-food-details mb-sm h5 {
        font-size: 16px;
    }
    .shop-details h5 {
        font-size: 16px;
    }
    .footer-right ul li:not(last-child) {
        list-style: none;
        margin-left: 0;
        margin-right: 21px;
    }
    .footer-right ul li a {
        font-size: 12px;
    }
    .menu-btn span {
        font-size: 20px;
        margin-top: 14px;
    }

    .single-pro.product-details button.btn.btn-list {
        width: 100%;
    }

    .single-pro.product-details .list-col {
        padding-left: 15px;
    }

    /*======================cart page css================*/
    .cart-selection .pickup-date.payment-method {
        margin-right: 8px;
        width: 30%;
    }
    .product-details .food-content h6 {
        width: max-content;
        max-width: 100%;
    }
    .bg-white.shop-section.main-cart.cart-margin {
        margin: 0;
    }
    /*======================/cart page css================*/
    .badge-light {
        right: 1rem;
    }
    .container1 {
        top: 0 !important;
    }
    .order-breadcrumb .breadcrumb a {
        font-size: 18px;
    }
    .order-breadcrumb .breadcrumb-item.active {
        font-size: 18px;
    }
    .order-date {
        margin-top: 8px;
    }
    .main-section mb-m .order-notes p {
        margin-top: 8px;
    }
    .main-section mb-m .order-status {
        text-align: left;
        margin-top: 8px;
    }
    .main-section mb-m .order-food .shop-add p {
        width: 100%;
    }
    .main-section mb-m .review-img img {
        width: auto;
    }
    .order-successful {
        width: 100%;
        padding: 2.5rem 2rem;
        margin-top: 1rem;
    }

    .shop-section {
        padding: 1rem 1rem 1rem;
    }

    .shop-details {
        margin-top: 1rem;
    }
    .subscribe-details .form-group {
        width: 100%;
        padding-right: 0;
        margin: 1rem 0;
    }
    .subscribe-details button.btn.btn-order {
        width:100%;
    }
    .footer-content .hours-details {
        margin-left: -12px;
    }
    .footer {
        padding: 2rem 0 1rem;
    }
    .modal-dialog {
        width: auto;
    }

    td.product-details.cart-width.cart-alignment.review-align .pro-qty {
        height: 31px;
        width: 70px;
        margin-right: 11px;
    }
    .cart-table .product-details .food-content {
        width: auto;
    }
    .cart-table .cart-img {
        width: auto;
    }
    .cart-selection .pickup-time {
        width: 25%;
    }
    .cart-selection .payment-method label{
        padding: 0.6rem 0.5rem;
    }
    .cart-button span.cart1 {
        left: 50%;
        transform: translate(-45%, -50%);
    }
    .feature-details a {
        float: left;
        margin-top: 5px;
    }

    .food-details h5 {
        float: none;
    }

    .single-product .category-details h6 {
        white-space: nowrap;
        overflow: auto;
    }
    .single-pro.product-details .food-maintitle h3 {
        font-size: 22px;
    }
    .container.container-margin {
        padding: 0;
    }
    .breadcrumb-details li.breadcrumb-item a {
        font-size: 13.5px;
    }
    .modal-info .modal-dialog {
        width: 100%;
        max-width: 100%;
        padding-right: 15px;
    }
    .info-bar .left {
        width: 100%;
        max-width: 100%;
    }
    .info-bar .left small{
        margin-bottom: 8px;
    }

}

/*==============common css for mobile and ipad===================*/
@media screen and (min-width: 300px) and (max-width: 991px){
    .shop-section .shop-border.food-details{
        height: auto;
    }
    .main-section.checkout-info .form-details {
        padding: 15px;
    }
    .form-details .fields {
        padding-right: 15px;
    }
    .custom-date {
        top: 94px;
    }
    .cart-table tr.border-details .quantity .product-quantity-cart {
        position: unset;
        top: 19px;
        width: 100%;
    }
    .cart-table .product-quantity-cart .skin-5 .num-in {

        padding: 6px 22px;
    }
    .skin-5 .num-in span.minus {
        text-align: left;
    }
    .skin-5 .num-in input{
        margin-top: -19px;
        margin-left: 9px;
    }
    .skin-5 .num-in span.plus {
        top: -21px;
        text-align: right;
        float: right;
        right: -15px;
    }
    .cart-table tr.border-details td.quantity {
        vertical-align: top;
    }
    .single-pro.product-details {
        padding-left: 15px;
    }

}
/*==============/common css for mobile and ipad===================*/


/*===============mobile landscape============================*/
@media only screen
and (min-device-width: 320px)
and (max-device-width: 767px)
and (orientation: landscape) {
    .display-details .food-column {
        width: 33.33%;
        flex: 0 0 33.33%;
    }
}
    /*===============mobile portrait============================*/
@media screen and (min-width: 768px) and (max-width: 991px) {
    .subscribe-details form .food-details mb-sm .form-group .form-control {
        width: 100%;
    }
    header#header1 {
        position: static;
    }
    .ip-menu {
        text-align: right;
    }
    .flex-col {
        padding-right: 15px;
    }
    .badge-light {
        right: 1rem;
    }
    li.menu-toggle.mob-menu {
        border: 1px solid gray;
        width: 55px;
        height: 46px;
        border-radius: 8px;
        text-align: center;
        line-height: 46px;
        /* margin-left: 6px; */
        padding-left: 13px;
    }
    .column {
        padding-left: 15px;
        max-width: 100%;
        flex: 0 0 100%;
    }
    .display-details .food-column {
        width: 33.33%;
        flex: 0 0 33.33%;
        margin-bottom: 1rem;
    }
    .fresh-food-details mb-sm h5 {
        font-size: 16px;
    }
    .footer-content.alignment {
        text-align: left;
    }
    .menu-btn span {
        font-size: 20px;
        margin-top: 14px;
    }
    .single-pro.product-details button.btn.btn-list {
        width: 100%;
    }
    .single-pro.product-details .shared-details {
        margin-left: -15px;
    }
    .cart-table .food-content {
        padding-left: 6px;
        margin: 0;
    }
    .product-details .food-content h6 {
        font-size: 11px;
        max-width: 100%;
        width: max-content;
    }
    .most-product .cart-row .cart-button .skin-5 .num-in span.plus {
        margin-left: 0px;
    }
    .most-product .cart-row .cart-button .skin-5 .num-in input {
        right: 24px;
    }
    .container1 {
        top: 0 !important;
    }

    .top-header ul li {
        margin-top: 14px;
    }
    .cart-selection .pickup-date.payment-method {
        width: calc(100% / 4 - 8px);
    }
    .cart-table tr.border-details td.width-name {
        width: 140px;
    }
}

@media screen and (min-device-width: 992px) and (max-device-width: 1024px) {
    .menu-col.top-header {
        float: right;
    }
    .flex-col {
        padding-right: 15px;
    }
    .column1 {
        max-width: 30%;
        flex: 0 0 30%;
    }
    .column {
        max-width: 70%;
        flex: 0 0 70%;
    }
    .display-details .food-column {
        width: 33.33%;
        flex: 0 0 33.33%;
        margin-bottom: 1rem;
    }
    .subscribe-details form .food-details mb-sm .form-group .form-control {
        width: 100%;
    }
    .top-header ul li {
        margin-left: 24px;
    }
    .badge-light {
        right: 4.5rem;
    }
    .single-pro.product-details button.btn.btn-list {
        width: 100%;
    }
    .single-pro.product-details .shared-details {
        margin-left: -10px;
    }
    .cart-table tr.border-details td.width-name {
        width: 286px;
    }
}
