@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css');
@import url('https://code.jquery.com/jquery-3.2.1.slim.min.js');

body {
    font-family: 'Quicksand', sans-serif !important;
    /*background-color: #fff;*/
    /*background-color: #fcfcfc;*/
    background-color: #f6f6f6;
    font-weight: 500;
    overflow-x: hidden;
}
.bg-white {
    box-shadow: 0 0 55px rgb(0 0 0 / 1%);
}
ul {
    padding: 0;
    list-style: none;
}
/*1. Font Styling Starts*/
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
}
p {
    margin-bottom: 6px;
    color: #555;
}
h1{
    font-weight: 700;
    margin-bottom: 12px;
    font-size: 1.6rem;
}
h2 {
    font-weight: 700;
    font-size: 1.25rem;
}
h3 {
    font-weight: 700;
    font-weight: 900;
    font-size: 1.125rem;
    margin-bottom: 6px;
}
h4 {
    font-weight: 500;
    font-size: 1.1rem;
    margin-bottom: 12px;
}
.title {
    margin-bottom: 14px;
    padding: 0 15px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.title h2{
    float: left;
}
/*Font Styling Ends*/

/*2. Fields Styling Ends*/
.form-control {
    border-radius: 6px;
    height: 44px;
    font-size: 14px;
}
.form-control:focus {
    border: 1px solid #b8b8b8;
    box-shadow: none;
}
/*Fields Styling Ends*/

/*3. Button Styling Ends*/
.btn{
    width: 100%;
    padding: 0;
    font-weight: 700;
    color: white;
    font-size: 14px;
    border-radius: 4px;
    box-shadow: unset !important;
    outline: none !important;
    text-align: center;
    border: 0 !important;
    transition: all 0.3s ease-in-out;
}
.btn:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0 0);
    color: white;
}
.btn-l{
    height: 40px;
}
.btn-m{
    height: 38px;
}
.btn-s{
    height: 36px;
}
button.btn-order {
    background: #5ab7d4;
    color: white;
    margin-top: 10px;
    transition: 0.5s all;
    padding: 0 25px;
    width: max-content;
}

button.btn-order:hover {
    background: #258cac;
}

.cart-button {
    position: relative;
    overflow: hidden;
    background: #d30000;
}

button.cart-button .added{
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 1 !important;
}
.cart-button span.minus {
    left: 0;
    top: 0;
    height: 38px;
    width: 38px;
    transform: unset;
    padding: 9px 8px;
    transition: 0.3s;
    background: #dc2a27 !important;
}
.cart-button span.minus:hover {
    background: #b50108 !important;
}

button.cart-button.clicked span {
    position: relative;
    left: 0;
}
.cart-button span {
    position: absolute;
    left: 50%;
    top: 49%;
    color: #fff;
    transform: translate(-50%, -50%);
    font-size: 0.875rem;
    font-weight: 800;
}

.cart-button span.plus {
    left: unset;
    right: 0;
    top: 0;
    height: 38px;
    width: 38px;
    transform: unset;
    padding: 9px 8px;
}

.cart-button span.added {
    opacity: 0;
    left: 0;
    top: 0;
}

/*.cart-button.clicked .fa-plus {
    animation: addicon 2s ease-in forwards
}*/

.cart-button.clicked {
    animation: color 2s ease-in forwards;
}

.cart-button.clicked span.add-to-cart {
    animation: addcart 0s ease-in forwards;
}

/*.cart-button .skin-5 .num-in span.minus {
    position: absolute;
    top: -7px;
}*/
.cart-button .skin-5 .num-in {
    border: none;
}
.cart-button .skin-5 .num-in input {
    height: auto;
    position: absolute;
    top: -13px;
    right: 7px;
    color: white;
    font-weight: 800;
}
.cart-button .skin-5 .num-in span.plus {
    position: absolute;
    text-align: right;
    left: 100%;
    margin-left: 31px;
}
.skin-5{
    height: 100%;
    width: 100%;
    display: inline-block;
}
.skin-5 .num-in {
    width: 100%;
    padding: 0;
    float: left;
    top: 0;
    height: 32px;
    vertical-align: middle;
    position: relative;
    border: 1px solid #d1d1d1;
    border-radius: 100px;
}
.product-quantity-cart {
    margin: 0 20px;
}
input.in-num:focus {
    outline: 0 !important;
    background: none;
}

.skin-5 .num-in span {
    position: relative;
    font-size: 13px;
    margin-right: 0px;
    cursor: pointer;
    padding: 8px 11px;
}

.skin-5 .num-in span.minus {
    float: left;
}

.skin-5 .num-in input {
    height: 34px;
    width: 33px;
    float: left;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    margin: auto;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
    background: transparent;
    border: none;
}
.cart-table .table td .skin-5 .num-in input {
    height: 30px;
}
.cart-table .table td .skin-5 .num-in span{
    padding: 6px 11px;
}
.skin-5 .num-in span.plus {
    float: right;
}
@keyframes addicon {
    0% {
        opacity: 1;
    }

    30%,
    100% {
        opacity: 0;
    }
}

@keyframes addcart {
    0%,
    30% {
        opacity: 1;
    }

    30%,
    100% {
        opacity: 0;
    }
}
.btn-blank{
    background: transparent;
    text-align: center;
    height: unset;
    color: #212529;
}
.btn-blank:hover{
    background: transparent;
    color: #212529;
}
.btn-list {
    background: transparent;
    border: 1px solid #ddd !important;
    color: #212529;
}
.btn-list:hover {
    background: #ddd !important;
    color: #212529;
}
.btn-proceed{
    color: #212529;
}
.btn-proceed:hover{
    color: #212529;
}
/*Button Styling Ends*/


/*4. header*/
.header-nav {
    background: #d30000;
}
header.header1 {
    top: 0;
    width: 100%;
    /*position: sticky;*/
    padding: 10px;
    z-index: 9;
}
.logo-col {
    width: 170px;
    margin: auto 0;
}
.mid-head-details {
    display: flex;
}
.flex-col {
    flex: 1 1 0%;
}
.head-content {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 0.4rem 0;
}
.search-bar-col {
    margin: auto 24px;
    flex: 1 1 0%;
}
.search-bar .form-control {
}
.search-bar {
    position: relative;
    max-width: 360px;
}
.search-bar i {
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 44px;
}

.search-list {
    position: absolute;
    z-index: 99;
    width: 100%;
    background: white;
    max-width: 540px;
    max-height: 300px;
    overflow: auto;
    box-shadow: 0 0 55px rgb(0 0 0 / 6%);
}
.search-list li {
    font-size: 14px;
    padding: 8px 10px;
    width: 100%;
    transition: 0.3s;
}
.search-list li:hover {
    background-color: #5ab7d4;
    color: white;
}
.drop-col {
    /*flex: 1 1 0%;*/
    flex: 0 0 auto;
}
.menu-col.top-header {
    margin: auto 0;
}
.top-header ul li {
    list-style: none;
    margin-left: 24px;
}
.top-header ul li.menu-toggle {
    padding-top: 0;
}

.menu-col.top-header ul li a {
    font-size: 14px;
    text-decoration: none;
    color: black;
}
.menu-col.top-header ul li img {
    width: 16px;
    position: relative;
    top: -2px;
}
.menu-col.top-header ul li a b {
    margin-left: 6px;
    font-weight: 600;
}
li.menu-toggle {
    position: relative;
}
.menu-details li img {
    width: 16px;
    position: relative;
    top: -2px;
}
.menu-details li a b {
    margin-left: 6px;
    /*font-weight: 600;*/
}
.menu-details li.menu-toggle {
    position: relative;
}
.badge-light {
    color: #ffffff;
    background-color: #dc2a27;
    position: absolute;
    top: -12px;
    right: -10px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    font-size: 11px;
    font-weight: 700;
    text-align: center;
    display: block;
    line-height: 14px;
}
ul.navbar-nav.menu-details.right-menu li a.color-red i {
    color: #dc2a27;
}
ul.navbar-nav.menu-details.right-menu li a.color-blue i {
    color: #5ab7d4;
}


.pickup-selection.form-group {
    margin: auto 0;
}
.pickup-selection.form-group span {
    font-size: 14px;
    font-weight: 500;
    top: 2px;
    position: relative;
}
.pickup-selection.form-group span.pickup {
    font-weight: 700;
}
.pickup-selection .dropdown .btn {
    cursor: pointer;
    background: transparent;
    margin: 0px;
    border-radius: 8px;
    border: 1px solid #DDDDDD;
    padding: 0.375rem 0 0.375rem 1.2rem;
    color: black;
    font-size: 14px;
    font-weight: 500;
    overflow: hidden;
    height: 44px;
    width: 100%;
}
.pickup-selection .dropdown-toggle::after {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    content: '\f107';
    font-family: 'FontAwesome';
    font-size: 18px;
    color: #2e3a59;
    font-weight: 800;
}

.pickup-selection .dropdown img {
    margin-right: 10px;
}



.header-nav .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
}
.header-nav ul.navbar-nav.menu-details {
    padding: 4px 0;
}
.header-nav ul.navbar-nav.menu-details li {
    margin-right: 30px;
}
.menu-col.top-header ul li a i {
    margin-right: 4px;
}
.header-nav ul.navbar-nav.menu-details li a {
    font-size: 16px;
    color: white;
    font-weight: 700;
    text-decoration: unset !important;
}
.header-nav ul.ml-auto li a {
    font-weight: 500 !important;
}
.header-nav ul.ml-auto li a b{
    font-weight: 500 !important;
}
.header-nav ul.navbar-nav.menu-details.ml-auto li {
    margin-right: 0;
    margin-left: 24px;
    color: white;
}
.header-nav ul.navbar-nav.menu-details.right-menu.ml-auto li {
    margin-right: 0;
    margin-left: 18px;
}

ul.navbar-nav.menu-details.right-menu li a i {
    width: 24px;
    height: 24px;
    background: #f6f6f6;
    text-align: center;
    line-height: 24px;
    border-radius: 24px;
    margin-right: 8px;
    font-size: 10px;
}


.middle-navigation nav.navbar.navbar-expand-lg {
    padding: 0;
}

.control {
    display: block;
    position: relative;
    padding-left: 0;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 16px;
}
.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.control__indicator {
    position: absolute;
    top: 2px;
    right: 0;
    height: 16px;
    width: 16px;
    background: #e2e2e2;
    border-radius: 2px;
}
.control--radio .control__indicator {
    border-radius: 50%;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
    background: #ccc;
}
.control input:checked ~ .control__indicator {
    background: #2aa1c0;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
    background: #5ab7d4;
}
.control input:disabled ~ .control__indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}
.control__indicator:after {
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control__indicator:after {
    display: block;
}
.control--checkbox .control__indicator:after {
    left: 7px;
    top: 3px;
    width: 4px;
    height: 8px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b;
}


/*=====================home page css====================*/
.main-section {
    padding: 1rem 1rem 0.5rem;
    margin-bottom: 1.2rem;
    border-radius: 12px;
    border: 1px solid #f1f1f1;
}
.content-padding {
    padding-top: 1rem;
}
.column1 {
    max-width: 20%;
    flex: 0 0 20%;
}
.column {
    padding-left: 6px;
    max-width: 80%;
    flex: 0 0 80%;
}

.sidebar {
    border-radius: 10px;
    box-shadow: 0 0 35px rgb(0 0 0 / 3%);
    border: 1px solid #eeeeee;
    padding: 1.2rem 1rem 1rem;
    position: sticky;
    top: 20px;
}
.category .sidebar{
    position: relative;
    top: 0;
}
.sidebar h5 {
    color: #24211f;
    font-weight: 700;
    font-size: 1rem;
}
.sidebar ul {
    padding-left: 10px;
}
.sidebar ul li {
    margin: 20px 0;
}
.sidebar ul li a {
    font-size: 16px;
    color: #535353;
    text-decoration: none;
}
.sidebar ul li a:hover{
    color: #212529;
}
.sidebar ul li a span {
    float: right;
    width: 28px;
    position: relative;
    top: -2px;
    height: 28px;
    background: #f6f6f6;
    text-align: center;
    border-radius: 20px;
    line-height: 28px;
    font-size: 12px;
}
.sidebar ul li a.active{
    font-weight: 600;
    color: black;
}
.sidebar .filter{
    padding: 20px 0;
    border-top: 1px solid #eeeeee;
}
.sidebar .filter:last-child{
    padding-bottom: 10px;
}
.sidebar .filter h5{
    margin-bottom: 10px;
}
.sidebar .filter p{
    font-weight: 600;
}
.sidebar .filter h6 input{
    float: right;
    position: absolute;
    right: 0;
    top: 3px;
    margin-left: 5px;
}
.sidebar .filter h6 img{
    width: 18px;
    margin-right: 5px;
}
.sidebar .filter h6 span {
    float: right;
    right: 25px;
    top: 2px;
    font-size: 14px;
    position: absolute;
    text-align: revert;
}
.sidebar .filter h6 b{
    font-weight: 500;
    top: 2px;
    position: relative;
}
.sidebar .filter .range-slider {
    display: inline-block;
    width: 100%;
}
.sidebar .filter .range-slider p:last-child{
    float: right;
}
.sidebar .filter .range-slider p{
    float: left;
    font-size: 14px;
}
.sidebar .filter h6{
    font-size: 16px;
    color: #535353;
    position: relative;
    text-decoration: none;
    margin: 15px 0 20px;
}
.sidebar .filter h6:last-child{
    margin-bottom: 0;
}
.rc-slider-handle{
    border: solid 2px #5ab7d4;
    background-color: #5ab7d4;
}
.rc-slider-track{
    background-color: #5ab7d4;
}
.banner-details {
    background-color: #5ab7d4;
    border-radius: 8px;
    padding: 2rem 1.5rem;
    background-image: url(../images/new-img1.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    margin: 5px 0 2.5rem;
    background-size: contain;
}
.spacer-home{
    margin-top: 1.5rem;
    display: inline-block;
    width: 100%;
}
.banner-details h1 {
    color: white;
    margin-bottom: 5px;
    font-weight: 700;
}
.banner-details p {
    color: white;
    font-size: 16px;
    font-weight: 400;
}
.food-details {
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
}
.display-details .food-column {
    width: 20%;
    flex: 0 0 20%;
    padding-left: 10px;
    margin-bottom: 10px;
}
.food-column {
    margin-bottom: 10px;
}
.display-details {
    padding-right: 15px;
    padding-left: 5px;
}

.product-details {
    background-color: white;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 35px rgb(0 0 0 / 3%);
    border: 1px solid #eeeeee;
    padding: 1rem;
}
.product-details .onsale-details {
    position: absolute;
    left: 0;
    top: -2px;
}
.product-details .onsale-details span {
    background: #fec601;
    font-size: 12px;
    font-weight: 700;
    padding: 4px 14px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.product-details .top-img {
    position: absolute;
    top: 6px;
    right: 1px;
    width: 25px;
    z-index: 9;
}

.product-details .sub-order{
    display: none;
}
.product-details .top-img img {
    width: 18px;
    margin-bottom: 7px;
}
.product-details .top-img img.b {
    width: 20px;
}
.product-details .food-img {
    height: 180px;
    display: flex;
    align-items: center;
}

.product-details .food-content h6 {
    font-size: 15px;
    color: #333;
    font-weight: 600;
    height: 36px;
    margin: 0 0 6px;
    text-align: center;
}

.product-details .food-content .weight{
    font-size: 12px;
    text-align: center;
}

p.price {
    font-size: 14px;
    font-weight: 600;
    color: #000;
    text-align: center;
    margin-bottom: 10px;
}
.price sup {
    font-size: 14px;
    font-weight: 600;
    top: 0;
}
.product-details .buttons{
    margin-bottom: 6px;
}

/*.product-details .food-content p.weight span {*/
/*    float: right;*/
/*}*/
.MuiPopover-paper ul{
    margin-bottom: 2px;
}
.MuiPopover-paper{
    box-shadow: 0 0 35px rgb(0 0 0 / 5%) !important;
    max-width: calc(100% - 10px) !important;
    border: 1px solid #f0f0f0;
}
/*.MuiPopover-paper:before {*/
/*    content: "";*/
/*    display: block;*/
/*    width: 0;*/
/*    height: 0;*/
/*    border-top: 10px solid transparent;*/
/*    border-bottom: 10px solid transparent;*/
/*    border-left: 10px solid #009688;*/
/*    position: absolute;*/
/*    top: 16px;*/
/*    right: 58px;*/
/*    z-index: 12;*/
/*    transform: rotate(90deg);*/
/*}*/
.MuiPopover-paper ul li{
    padding: 12px 35px;
    font-size: 14px;
    color: #696969;
    text-align: center;
    border-bottom: 1px solid #f0f0f0;
}
.MuiPopover-paper ul li:hover{
    color: black;
    cursor: pointer;
    background: #f7f7f7;
}
.MuiPopover-paper ul li:last-child{
    border-bottom: 0;
}
.product-details a:hover{
    text-decoration: none;
}
/*.owl-item:first-child .price{*/
/*    color: #d30000;*/
/*    font-weight: 900;*/
/*}*/
/*.owl-item:first-child .price sup{*/
/*    color: #d30000;*/
/*    font-weight: 900;*/
/*}*/
p.price del {
    font-weight: 500;
    margin-left: 5px;
    font-size: 13px;
    color: #9a9a9a;
}
.single-pro-right {
    padding: 1.5rem 1rem;
}
.single-pro-right-main{
    position: sticky;
    top: 20px;
    height: max-content;
}
.single-pro-right .price {
    text-align: center;
    margin: 0 0px 5px;
}
.single-pro-right .sub-text{
    font-size: 14px;
    margin: 0px 15px 20px;
    text-align: center;
}
.single-pro-right .btn-div{
    width: 95%;
    margin: auto;
}
.single-pro-right .shared-details h6{
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}
.single-pro-right .price del {
    margin-left: 0px;
}
.single-pro-right .price sup {
    margin-left: 0px;
    font-size: 38px;
    font-weight: 700;
}
.single-pro-right .price span {
    font-size: 38px;
}
.product-details a.btn.btn-list {
    font-size: 0.875rem;
    width: 100%;
    padding-bottom: 0;
    padding-top: 0px;
    font-weight: 500;
    margin-top: 5px;
}
.list-menu{
    position: absolute;
    width: 80%;
    height: 100%;
    background-color: black;
    bottom: 40px;
    display: none;
}
.product-details a.btn.btn-list:cli .list-menu{
    display: block;
}

div#owl-slider {
    margin-bottom: 1.2rem;
}

.food-details a {
    display: inline-block;
    color: #0066c0;
    font-weight: 700;
    font-size: 13px;
    text-decoration: none;
}

.owl-nav,
.owl-prev {
    font-size: 0;
}
.owl-theme .owl-nav {
    margin-top: 0px !important;
    height: 0px;
}
.owl-theme .owl-nav button{
    transition: 0.3s;
}
.owl-theme .owl-nav button.disabled{
    opacity: 0;
}
.owl-theme .owl-nav button.disabled:before{
    color: #969696;
}
.owl-dots{
    display: none;
}
.owl-prev:before {
    content: '\f104';
    font-family: fontawesome;
    position: absolute;
    font-size: 25px;
    padding: 0px 20px;
    line-height: 46px;
    width: 48px;
    height: 48px;
    border-radius: 50px;
    /*border:1px solid #e4e4e4;*/
    text-align: center;
    color: black;
    background: white;
    box-shadow: 0 0px 6px 0 #cdcdcd;
    top: 40%;
    left: -14px;
}
.owl-next:before {
    content: '\f105';
    font-family: fontawesome;
    position: absolute;
    font-size: 25px;
    padding: 0px 20px;
    line-height: 46px;
    width: 48px;
    height: 48px;
    border-radius:50px;
    border: 1px solid #d2d6da !important;
    text-align: center;
    color: black;
    background: white;
    box-shadow: 0 0px 6px 0 #cdcdcd;
    right: -14px;
    top: 40%;
}
.owl-carousel .owl-item .top-img img {
    width: 20px;
}
.owl-carousel .owl-item .top-img img.b {
    width: 22px;
}
.fresh-food-details {
    /*margin: 3.5rem 0 0rem;*/
}
.fresh-food-details img {
    width: 100%;
}
.fresh-food-details h5 {
    font-size: 1.1rem;
    margin-bottom: 5px;
    color: rgb(65, 65, 66);
    font-weight: 700;
    margin-top: 2px;
}

.fresh-food-details p {
    color: #535353;
    font-size: 14px;
}


.shop-section {
    padding: 2rem 1rem 1rem;
    margin: 2rem 0;
    border-radius: 8px;
}
.shop-section .shop-border.food-details {
    border: 1px solid #dddddd;
    border-radius: 12px;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    height: 93px;
    display: flex;
    justify-content: space-between;
}
.shop-details h5 {
    font-weight: 800;
    font-size: 18px;
}
.shop-img {
    width: 82px;
    align-items: center;
    display: flex;
}
.shop-img img {
    width: 100%;
}

.shop-inner-details button.cart-button.cart1 {
    /*width: 30px;*/
    height: 32px;
    background-color: #dc2a27;
    border-color: #dc2a27;
    transition: 0.5s;
}

.shop-inner-details .cart-col {
    text-align: right;
    top: -9px;
}
.shop-inner-details button.cart-button.cart1.clicked {
    width: 100%;
    background-color: #dc2a27;
    padding: 0;
}
.shop-inner-details button.cart-button.clicked span {
    position: relative;
    left: 0;
    top: unset;
}
.shop-inner-details .cart-button .skin-5 .num-in span.minus {
    top: 0;
    font-size: 12px;
    width: 32px;
    margin: 0;
    height: 100%;
}
.shop-inner-details .cart-button .skin-5 .num-in input {
    top: 0;
    right: 0;
    font-size: 15px;
    left: 0;
    width: 30px;
    margin: 4px auto;
    user-select: none;
    pointer-events: none;
}
.shop-inner-details .cart-button .skin-5 .num-in span.plus {
    top: 0;
    font-size: 12px;
    width: 32px;
    margin: 0;
    right: 0;
    height: 100%;
    text-align: center;
    padding: 0;
    left: unset;
    line-height: 32px;
}
.shop-inner-details .cart-button.cart1 span.add-to-cart {
    color: white;
    width: 100%;
}
.shop-inner-details .cart-button .num-block.skin-5{
    top: 0 !important;
    transform: unset !important;
}
.shop-inner-details .cart-button.cart-button .skin-5 span{
    top: 0 !important;
    transform: unset !important;
}
.shop-inner-details button.cart-button.cart1:hover span.add-to-cart {
    color: white;
}
.shop-inner-details button.cart-button.cart1:hover {
    background-color: #dc2a27;
    border-color: #5ab7d4;
}

.shop-section .shop-border.food-details .shop-inner-details {
    margin-left: 8px;
    width: calc(100% - 82px);
}
.shop-section .shop-border.food-details .shop-inner-details a{
    width: 63%;
}
.shop-section .shop-border.food-details .shop-inner-details a h6 {
    font-size: 14px;
    color: #333;
    font-weight: 600;
    height: 36px;
    margin: 0 0 6px;
    text-align: left;
}
.shop-section .shop-border.food-details .shop-inner-details .food-price p {
    color: black;
    font-size: 14px;
    margin-top: 0px;
}
.shop-section .shop-border.food-details .shop-inner-details .price{
    text-align: left;
}
a.more-info {
    display: inline-block;
    color: #0066c0;
    font-weight: 700;
    font-size: 13px;
    text-decoration: none;
    float: right;
}
.subscribe-display {
    display: flex !important;
}
.subscribe-display .form-group {
    margin-bottom: 0px;
}
.subscribe-info {
    background: #5ab7d4;
    border-radius: 0px;
    padding: 2rem 0;
    top: 32px;
    position: relative;
}
.subscribe-details {
    padding: 0;
}
.subscribe-details h4 {
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0px;
    font-size: 1.4rem;
}
.subscribe-details p {
    color: white;
    margin-bottom: 0px;
    font-weight: 600;
    font-size: 14px;
}
.subscribe-details .form-group {
    width: calc(100% - 200px);
    padding: 0 15px 0 0;
    float: left;
    margin-bottom: 0;
}
.subscribe-details .btn {
    width: 200px;
    margin-top: 0 !important;
}
.subscribe-details form .food-details .form-group .form-control {
    width: 292px;
    height: 42px;
    border-radius: 8px;
    font-weight: 500;
}
.subscribe-details button.btn.btn-order{
    background-color: #258cac;
    border-radius: 6px;
    height: 44px;
    transition: 0.3s all ease-in-out;
    padding: 0 13px;
}
.subscribe-details button.btn.btn-order:hover{
    background-color: #1981a1;
}
.subscribe-details .action{
    display: flex;
}
.footer {
    background: #252525;
    padding: 2rem 0;
    margin-top:2rem;
    border-bottom: 1px solid #100e0e;
}
.footer .item-col {
    width: max-content;
    max-width: max-content;
}
.footer-content img {
    width: 140px;
}
.footer-content h5 {
    margin-bottom: 1rem;
    font-size: 18px;
    font-weight: 600;
    color: white;
}
.footer-content h2{
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
}
.footer-content p {
    font-size: 13px;
    color: white;
    margin-top: 10px;
    font-weight: 300;
}
.footer-content ul li {
    margin-bottom: 8px;
}
.footer-content ul li a {
    font-size: 14px;
    color: white;
    font-weight: 300;
    transition: 0.3s;
}
.footer-content .contact-details i {
    font-size: 16px;
    color: #2e94b2;
    vertical-align: text-top;
    top: -3px;
    position: relative;
}
.footer-content .contact-details h6{
    color: white;
    font-size: 14px;
    font-weight: 300;
}
.footer-content .hours-details {
    margin-bottom: 1rem;
    padding-left: 10px;
}
.footer-content .social{
    display: inline-flex;
    margin-top: 10px;
}
.footer-content .social li{
    margin-right: 10px;
}
.footer-content .social li a{
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 28px;
    opacity: 0.5;
    color: white;
    border-radius: 100px;
    text-align: center;
    border: 1px solid white;
    transition: 0.3s all ease-in-out;
}
.footer-content .social li a svg{
    width: 14px;
    height: 14px;
}
.footer-content .social li a:hover{
    opacity: 1;
}
.custom-checkbox {
    margin: 0.5rem 0;
    height: 30px;
    position: relative;
}

input[type='radio'][id^='myradio'] {
    display: none;
}
input[type='checkbox'][id^='mycheckbox'] {
    display: none;
}

.payment-method label {
    border: 1px solid #bbbbbb;
    padding: 0rem 0.6rem;
    border-radius: 3px;
    font-size: 12px;
    cursor: pointer;
}
.date-details .pickup-date.payment-method {
    margin-right: 0.6rem;
}
.pickup-date.payment-method {
    display: inline-block;
    margin-right: 5px;
}
.date-custom-select {
    text-align: center;
}
.pickup-date.payment-method :checked + label {
    background-color: #5ab7d4;
    border-color: #5ab7d4;
    color: white;
}
.dropdown.more-size {
    background: #e5e5e5;
    width: 28px;
    height: 20px;
    position: absolute;
    right: -3px;
    top: 3px;
    border-radius: 2px;
}
.dropdown.more-size button {
    padding: 0 7px;
    font-size: 12px;
    color: #5ab7d4;
}
.dropdown.more-size .dropdown-menu {
    min-width: 0;
    padding: 0;
}
.dropdown.more-size .dropdown-item {
    padding: 0 5px;
}

.dropdown.more-size button:after {
    display: none;
}
.bottom-footer {
    padding: 0.8rem 0;
    background: #252525;
    font-weight: 300;
}
.bottom-footer h6{
    color: white;
    font-size: 13px;
    font-weight: 200;
    line-height: 1.6;
    margin-bottom: 15px;
}
.copyright-details {
    margin: auto 0;
}
p.copyright-content {
    color: white;
    margin: 15px 0px 10px;
}
.footer-right {
    float: right;
}
.footer-right ul li {
    list-style: none;
    margin-left: 28px;
}
.footer-right ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
}
.row.slider-title.food-details.mb-sm.feature-details {
    display: inline-flex;
}
/*===================dropdown header modal design======================*/
.modal-dialog {
    width: 400px;
}
.storeModal .modal-dialog{
    width: 540px;
    max-width: 540px;
}
.storeModal .modal-dialog p{
    font-weight: 600;
    font-size: 14px;
}
.storeModal .modal-dialog p b{
    color: black;
    font-weight: 700;
}
.storeModal .modal-dialog .btn{
    font-weight: 600;
    width: auto;
    margin-right: 10px;
    padding: 0 15px;
}
.storeModal .modal-dialog .btn.proceed-button{
    background: #fec601;
    color: #000;
    transition: 0.3s all ease-in-out;
}
.storeModal .modal-dialog .btn.proceed-button:hover{
    background: #f0bb02;
}
.modal-info .modal-dialog{
    width: 600px;
    max-width: 600px;
}
.modal-info .modal-dialog li:first-child{
    margin-top: 20px;
}
.modal-info .modal-dialog li{
    min-height: 40px;
    margin-bottom: 20px;
}
.modal-info .modal-dialog li:last-child{
    margin-bottom: 0;
}
.modal-info .modal-dialog img{
    width: 40px;
    float: left;
}
.modal-info .modal-dialog h6{
    font-weight: 700;
    padding-left: 50px;
}
.modal-info .modal-dialog span{
    color: #696969;
    text-transform: initial;
    width: 100%;
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    margin-top: 3px;
}
.modal-dialog .modal-content {
    border-radius: 15px;
}
.drop-modal {
    padding: 10px 5px 0px;
    position: relative;
}
.drop-modal .modal-content {
    border-radius: 12px;
    border: 0;
}
.drop-modal .order-prefrence h4 {
    color: #24211f;
    font-weight: 800;
    margin-bottom: 0.8rem;
}
.drop-modal .order-prefrence p {
    font-size: 14px;
    color: #575757;
    margin-bottom: 1.4rem;
}
.drop-modal .store-select {
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
}
.carousel .control-next.control-arrow:before {
    border-left: 8px solid #000;
    opacity: 1;
}
.carousel .control-prev.control-arrow:before {
    border-right: 8px solid #000;
    opacity: 1;
}
.drop-modal ul{
    margin-bottom: 15px;
    padding: 0;
}
.drop-modal .store-select .options {
    display: inline-block;
    border-bottom: 1px solid #e8e8e8;
}
.drop-modal .store-select .options:last-child {
    border-bottom: 0;
}
.drop-modal .store-select .card-title {
    font-weight: 700;
    font-size: 0.9rem;
    margin-bottom: 0px;
    width: calc(100% - 100px);
    float: left;
}
.drop-modal .store-select .distance {
    font-size: 0.8rem;
    margin-bottom: 0px;
    width: calc(100% - 100px);
    float: left;
}
.drop-modal .store-select button {
    float: right;
    width: 80px;
    height: 28px;
    border: 2px solid #5ab7d4;
    background: transparent;
    color: #000;
    top: -14px;
    padding: 0px;
    font-weight: 500;
    font-size: 12px;
    transition: 0.3s;
}
.drop-modal .store-select button:hover {
    background: #5ab7d4;
    color: white;
}

.delivery-tabs .nav-tabs .nav-link {
    border: 1px solid #c8c8c8;
    border-radius: 20px;
    font-weight: 500;
    color: black;
    font-size: 14px;
    width: 100%;
    height: 40px;
    text-align: center;
}
.location-icon {
    cursor: pointer;
    right: 0px;
    position: absolute;
    top: 0px;
    color: black;
    font-size: 12px;
    height: 100%;
    border-radius: 0 50px 50px 0;
    background: #f0bb02;
    text-align: center;
    line-height: 41px;
    padding: 0px 10px;
    font-weight: 600;
}
.location-suggestions {
    position: relative;
    margin-top: 12px;
    border: 1px solid #e8e8e8;
}
.suggestion-items {
    border-bottom: 1px solid #e8e8e8;
    padding: 7px 10px;
    cursor: pointer;
    font-size: 13px;
}
.suggestion-items:hover {
    color: white;
}
.nav-tabs .nav-item {
    float: left;
    cursor: pointer;
}
.nav-tabs .nav-item:last-child {
    float: right;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    border: 2px solid #5ab7d4;
    font-weight: 700;
}
.delivery-tabs {
}
.drop-modal .map {
    position: relative;
    width: 100%;
    height: 40px;
    background: #f7f7f7;
    margin-top: 15px;
    left: 0px;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}
.delivery-tabs h6 {
    color: #575757;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0.8em;
}
.delivery-tabs label {
    color: #575757;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0.8rem;
}
.drop-modal ul li{
    width: 50%;
}
.drop-modal ul li p{
    width: calc(100% - 8px) !important;
    margin-right: 8px;
}
.drop-modal ul li:last-child p{
    width: calc(100% - 8px);
    margin-left: 8px;
}
.delivery-tabs form.input-form {
    margin-top: 1rem;
}
.delivery-tabs form.input-form label {
    font-size: 14px;
    color: #575757;
}
.delivery-tabs form.input-form .form-control {
    border-radius: 20px;
    height: 40px;
    font-size: 14px;
    padding-right: 90px;
}
.delivery-tabs .tab-content {
    margin-top: 1.5rem;
}
.delivery-tabs .tab-content .form-group .form-control {
    border-radius: 20px;
    font-weight: 500;
    color: black;
    font-size: 14px;
    width: 100%;
    height: 40px;
    padding: 0px 40px 0px 20px;
}
.modal-content .modal-body .map p {
    color: #00506a;
    font-weight: 600;
    font-size: 14px;
    margin-left: 20px;
    cursor: pointer;
}
.modal-content .modal-body .map p:hover {
    color: #2e3a59;
}
.modal-content .modal-body .start-btn .btn {
    color: white;
    background: #dc2a27;
    border-radius: 20px;
    text-align: center;
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    height: 40px;
    margin: 1.5rem 0 1rem;
}
.modal-content .modal-body .exit-details {
    width: max-content;
    margin: auto;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 8px;
}
.modal-content .modal-body .exit-details p {
    transition: 0.2s;
}
.modal-content .modal-body .exit-details p:hover {
    color: #c10000;
    font-weight: 700;
}
.modal-content .modal-body .exit-details p i{
    font-weight: 100;
    font-size: 20px;
}
.modal-content .modal-body .exit-details a {
    text-decoration: none;
    color: #6c6c6c;
    font-size: 12px;
}
/*===================/dropdown header modal design======================*/
@media (min-width: 1400px) {
    .container-fluid {
        max-width: 1400px;
    }
    .container-fluid.container-width {
        max-width: 100%;
    }
    .drop-col {
        flex: 0 0 auto;
    }
}

/*======================for minisidebar and arrow click sidebar=======================*/
.container1 {
    background-color: white;
    position: fixed;
    /*height: 100%;*/
    /* transition: width .3s; */
    z-index: 1000;
    border: 1px solid #f1f1f1;
    top: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: -3px -2px 20px 1px rgb(0 0 0 / 12%);
    border-top: 0;
    right: 59px;
    width: 0;
    margin-right: -66px;
}
#sidebar-wrapper .container1{
    height: 100vh;
}
#sidebar-wrapper .main-cart .side-cart-list {
    padding: 1rem 1rem;
    height: calc(100vh - 176px);
}
/*.container1:before{*/
/*    border: solid #E5E5E5;*/
/*    border-width: 0 2px 2px 0;*/
/*    display: inline-block;*/
/*    padding: 3px;*/
/*    transform: rotate(135deg);*/
/*    -webkit-transform: rotate(135deg);*/
/*    content: "";*/
/*    position: fixed;*/
/*    display: block;*/
/*    margin-top: 43px;*/
/*    margin-left: -5px;*/
/*    background: white;*/
/*}*/
.container1.open:before {
    display: none;
}
.container1.open {
    width: 266px;
}
.background {
    background: #5ab7d4;
    height: 50px;
}
.closeburger {
    position: relative;
    top: 9px;
    left: 15px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    background: #56aac5;
    border-radius: 50px;
    text-align: center;
    line-height: 30px;
    color: white;
}
.open .closeburger {
    background: transparent;
    top: 9px;
    float: right;
    right: 5px;
    left: unset;
}
.closeburger:before {
    content: '\f104';
    top: 5px;
    transition: top 500ms ease 500ms, transform 500ms ease;
    font-family: fontawesome;
}

.open .closeburger:before {
    content: '\f00d';
    top: 5px;
    transition: top 500ms ease 500ms, transform 500ms ease;
    font-family: fontawesome;
    font-size: 14px;
}
.container1 .main-cart {
    display: none;
}
.container1.sidebar-front {
    display: block;
}
.container1.open .main-cart {
    display: block;
}
.container1.open .sidebar-front {
    display: none;
}
.food-images {
    width: 40px;
    margin: auto;
}
.container1 .sidebar-front .food-images img {
    width: 100%;
    margin-top: 1.5rem;
}
.main-cart .cart-padding {
    padding: 1.3rem 1rem .6rem;
}
.main-cart .side-cart-list{
    padding: 1rem 1rem;
}
.main-cart .cart-title{
    position: absolute;
    top: 16px;
}
.main-cart .cart-title h6{
    font-size: 14px;
    font-weight: 600;
    color: white;
}
.main-cart .estimate-order {
    width: 100%;
    float: left;
}
.main-cart .estimate-order h6 {
    color: #24211f;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 5px;
    padding: 12px 0px;
}
.main-cart .estimate-order h6 span {
    float: right;
    font-weight: 800;
}
.main-cart .estimate-order p {
    font-size: 15px;
    color: #212529;
    margin-bottom: 0px;
    font-weight: 500;
    padding: 8px 0px;
    border-bottom: 1px solid #e8e8e8;
}
.main-cart .estimate-order p span{
    float: right;
}
.main-cart button.btn.btn-proceed {
    background: #fec601;
    /*border: 1px solid #ffc601;*/
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    height: 40px;
    transition: 0.5s all;
}
#sidebar-wrapper .main-cart .estimate-order{
    width: 210px;
}
#sidebar-wrapper .main-cart .estimate-order h6{
    padding: 0;
    margin: 0;
    border: 0;
    font-weight: 800;
    font-size: 1.5rem;
}
#sidebar-wrapper .main-cart .estimate-order p{
    border: 0;
    padding-top: 3px;
}
#sidebar-wrapper .main-cart .estimate-order h6 span{
    float: unset;
}
#sidebar-wrapper .main-cart button.btn.btn-proceed {
    float: right;
    width: calc(100% - 210px);
    margin-top: 2px;
}
.main-cart button.btn.btn-proceed:hover {
    background: #f0bb02;
    border-color: #f0bb02;
}
.cart-inner-details {
    margin-left: 10px;
}
.cart-food-details {
    background: #eeeeee;
    padding: 0.5rem 0.8rem;
    margin-bottom: 0.5rem;
}
.cart-food-details h6 {
    font-size: 14px;
    color: #333333;
}
.cart-food-details h6 span {
    float: right;
    font-size: 12px;
    margin-top: 1px;
}
.cart-inner-details h6 {
    font-size: 15px;
    color: #24211f;
}
#sidebar-wrapper .food-details .imgCart {
    width: 65px;
    height: 65px;
    float: left;
    position: relative;
}
#sidebar-wrapper .food-details .imgCart img{
    position: absolute;
    top: 0;
    width: 100%;
    bottom: 0;
    margin: auto;
}
#sidebar-wrapper hr{
    margin-top: .5rem;
    margin-bottom: .8rem;
}
#sidebar-wrapper .food-details .close-btn {
    float: left;
    margin: 0px;
    width: 30px;
    max-width: 30px;
    padding: 0px;
}
#sidebar-wrapper .food-details .cart-inner-details {
    width: calc(100% - 65px);
    padding-left: 10px;
    float: left;
    margin-left: 0px;
}
#sidebar-wrapper .food-details .cart-inner-details h6{
    margin-bottom: 5px;
    font-weight: 600;
}
#sidebar-wrapper .food-details .cart-inner-details .food-details {
    margin-bottom: 0px;
    padding: 0px;
}
#sidebar-wrapper .food-details .cart-inner-details .cart-table {
    float: left;
}
#sidebar-wrapper .food-details .cart-inner-details .food-details .cart-price {
    margin-left: 0px;
    box-shadow: unset;
    border: 0;
}
#sidebar-wrapper
    .food-details
    .cart-inner-details
    .product-details
    .food-content
    p.price {
    margin-top: 5px;
    text-align: left;
}
#sidebar-wrapper .product-quantity-cart .skin-5 .num-in{
    height: 30px;
    width: 85px;
    padding: 0;
    margin-top: 10px;
}
#sidebar-wrapper  .product-quantity-cart .skin-5 .num-in input{
    font-size: 16px;
    height: 27px;
    right: -1px;
    user-select: none;
    pointer-events: none;
}
#sidebar-wrapper  .product-quantity-cart .skin-5 .num-in span{
    width: 12px;
    top: 7px;
    padding: 0;
}
#sidebar-wrapper  .product-quantity-cart .skin-5 .num-in span.minus.decrement{
    left: 10px;
}
#sidebar-wrapper .weight{
    font-size: 13px;
    margin-top: 2px;
    width: 100%;
}
#sidebar-wrapper .weight span{
    float: right;
}
#sidebar-wrapper .price{
    width: max-content;
    float: right;
    margin: 15px 0 0;
}
.close-btn h6 {
    width: 24px;
    height: 24px;
    background: #e0e0e0;
    border-radius: 50px;
    text-align: center;
    color: white;
    line-height: 1.4;
    margin-top: 0.4rem;
    cursor: pointer;
}
.close-btn h6 i {
    font-weight: 100;
    font-size: 14px;
}
.skin-2 .num-in span {
    width: 35%;
    display: block;
    height: 21px;
    float: left;
    position: relative;
    cursor: pointer;
}
.cart-price {
    margin-left: 10px;
}

.cart-table.qty-button .product-quantity-cart .skin-5 .num-in {
    height: 26px;
    width: 70px;
    border: 1px solid #ccc;
    z-index: 1;
    /* background: transparent; */
}
.cart-table.qty-button .product-quantity-cart .skin-5 .num-in span {
    position: absolute;
}
.cart-table.qty-button .product-quantity-cart .skin-5 .num-in input {
    right: 3px;
    top: 0px;
    font-size: 12px;
    position: absolute;
    z-index: 1;
    margin: auto;
    left: 0px;
    text-align: center;
    width: 100%;
    float: none;
}
.cart-table.qty-button .product-quantity-cart .skin-5 .num-in span.plus {
    right: 0px;
    top: 5px;
    z-index: 2;
    width: 15px;
    font-size: 10px;
}
.cart-table.qty-button .product-quantity-cart span.minus.decrement {
    top: 5px;
    float: none;
    left: 9px;
    z-index: 2;
    width: 9px;
    font-size: 10px;
}
/*======================/for minisidebar and arrow click sidebar=======================*/

/*======================/for toggle and expand minisidebar and content=======================*/

#wrapper {
    padding-right: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-right: 59px;
}
#wrapper.toggled .container1 {
    width: 66px;
    height: 100vh;
}
#wrapper.toggled .container1.open {
    width: 410px;
    transition-property: none;
}

@media (min-width: 768px) {
    #wrapper {
        padding-right: 0;
    }

    #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-left: 0;
    }
}
/*======================/for toggle and expand minisidebar and content=======================*/

/*====================single product details page==========================*/
#myCarousel {
    padding: 1rem;
}
.slider:before {
    display: none;
}
#myCarousel .list-inline {
    white-space: nowrap;
    overflow-x: auto;
}

#myCarousel .carousel-indicators {
    position: static;
    left: initial;
    width: initial;
    margin-left: initial;
}

#myCarousel .carousel-indicators > li {
    width: 104px;
    height: 95px;
    text-indent: initial;
    opacity: 1;
    border: 1px solid #e8e8e8;
    border-radius: 8px;
    line-height: 95px;
}
#myCarousel ul {
    padding: 0;
    margin-bottom: 0;
}
.carousel-indicators li {
    margin-left: 0;
}
#myCarousel .carousel-indicators > li.active {
    border-color: #dc2a27;
}

#myCarousel .list-inline-item:not(:last-child) {
    margin-right: 9px;
}
ul.carousel-indicators.product-slider li a img {
    width: 100%;
}
ul.carousel-indicators.product-slider {
    padding-left: 8px;
}
.overlay {
    position: relative;
}

.overlay:after {
    content: '\f04b';
    font-family: 'FontAwesome';
    position: absolute;
    left: 45%;
    width: 20px;
    height: 20px;
    background: #ff9933;
    border-radius: 50px;
    text-align: center;
    line-height: 20px;
    font-size: 10px;
    top: 40%;
    color: white;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0px;
    bottom: 0;
    background-color: transparent;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.carousel .carousel-status {
    display: none;
}
.control-dots {
    display: none;
}
.carousel .thumb {
    padding: 5px !important;
    cursor: pointer;
    border-radius: 10px;
    width: calc(25% - 5px) !important;
}
.carousel .thumb:hover {
    border: 1px solid #ddd !important;
}
.carousel .thumb.selected {
    border: 2px solid #5ab7d4 !important;
}
.carousel .thumbs-wrapper {
    margin: 0 20px !important;
    overflow: hidden;
}
.slider:before {
    position: absolute;
    content: '';
    height: 22px;
    width: 22px;
    background-color: #dc2a27;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.single-pro.product-details {
    padding-left: 0px;
    padding-top: 20px;
    margin-bottom: 1.5rem;
    box-shadow: unset;
    border: unset;
}
.sale-banner.product-details {
    box-shadow: unset;
    border: unset;
}
.single-pro.product-details .weight{
    font-size: 14px;
}
.single-pro.product-details .label-img {
    margin: 1rem 0;
}
.single-pro.product-details .label-img img {
    width: 24px;
    margin-right: 10px;
    float: left;
}
.icon-details-click {
    font-size: 14px;
    font-weight: 600;
    color: #2e94b2 !important;
    margin-top: 5px;
    display: block;
    float: left;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
}
.icon-details-click:hover{
    color: #1981a1 !important;
}

.single-product .block {
    padding: 0 30px;
    margin-bottom: 15px;
}
.single-product .block:last-child {
    margin-bottom: 20px;
}
.single-product .image{
    width: 45%;
    max-width: 45%;
    flex: unset;
    margin-bottom: 30px;
}
.single-product .right{
    width: 55%;
    max-width: 55%;
    flex: unset;
}

.single-product .tags {
    margin-right: 12px;
    padding-right: 12px;
    border-right: 1px solid #e2e2e2;
}
.single-product .tags:last-child{
    border-right: 0;
    margin-right: 0;
    padding-right: 0;
}
.single-pro-options{
    margin-bottom: 36px;
}
.single-pro-options li {
    padding: 5px 0 10px;
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 10px;
}
.single-pro-options li:last-child{
    border-bottom: 0;
    margin-bottom: 5px;
    padding-bottom: 0;
}
.single-pro-options li svg{
    width: 18px;
    margin-right: 8px;
    color: #5ab7d4;
    float: left;
    transition: 0.3s;
}
.single-pro-options li span{
    color: #212529;
    position: relative;
    top: -2px;
    transition: 0.3s;
}
.single-pro-options li:hover{
    font-weight: 600;
    cursor: pointer;
}
.single-pro-options li:hover svg{
    color: #258cac;
}

/*==============modal for navbar===============*/
.sidebar-modal.modal.left .modal-dialog {
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}
.sidebar-modal.modal.left .modal-dialog {
    position: fixed;
    margin: auto;
    width: 500px;
    max-width: 100%;
    height: 100%;
}

.sidebar-modal.modal.left .modal-content {
    height: 100%;
    overflow-y: auto;
}

.sidebar-modal.modal.left .modal-body {
    padding: 0;
}

.sidebar-modal.modal.left.fade .modal-dialog {
    left: -500px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}

.sidebar-modal.modal.left.fade.show .modal-dialog {
    left: 0;
}

.sidebar-modal.modal.left .modal-content {
    border-radius: 0;
    border: none;
}

.sidebar-modal.modal.left .modal-dialog.modal-sm,
.modal.right .modal-dialog.modal-sm {
    width: 250px;
}
.sidebar-modal .modal-header {
    padding: 0.5rem 1rem;
}
.dropdown.bootstrap-select.form-control:hover {
    background-color: #e8e8e8;
}
.info-bar {
    background: white;
    margin-bottom: 1.5rem;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 0 35px rgb(0 0 0 / 3%);
    border: 1px solid #eeeeee;
    padding: 1rem 1rem 0.8rem;
}
.info-bar .left {
    float: right;
    width: calc(100% - 260px);
    max-width: calc(100% - 260px);
    flex: unset;
}
.info-bar .left small {
    font-size: 16px;
    color: dimgrey;
    margin: 5px;
    font-weight: 500;
    display: block;
    line-height: 1.3;
}
.info-bar .right {
    float: right;
    width: 260px;
    padding: 0px 15px;
    max-width: 260px;
    flex: unset;
}
.info-bar .right span {
    font-size: 14px;
    margin: 5px;
}
.info-bar .right .dropdown {
    width: 160px;
    float: left;
}
.info-bar .right .dropdown .dropdown-item {
    font-size: 14px;
}
.info-bar .right .dropdown .btn {
    background: #f1f1f1;
    border-radius: 100px;
    font-size: 14px;
    width: 100%;
    text-align: left;
    color: #212529;
    font-weight: 500;
    padding: 5px 13px;
    margin-left: 10px;
}
.info-bar .right .dropdown .btn::after {
    float: right;
    margin: 8px 0px;
}
/*======================cart css=====================*/
.main-section.main-cart {
    margin-top: 1rem;
}
.cart-pickup span {
    font-weight: 600;
    vertical-align: middle;
    margin-left: 5px;
}
.pickup-main{
    padding: .8rem 1rem;
    border: 1px solid #d4d4d4;
}
.edit-order {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: #f1f1f1;
    text-align: center;
    line-height: 30px;
    margin-left: 10px;
    color: #d30000;
}
.cart-pickup span b {
    font-weight: 700;
}

.cart-selection h4 {
}
.cart-selection .pickup-date.payment-method {
    display: inline-block;
    margin-right: 8px;
    float: left;
    position: relative;
    /*width: 97px;*/
    width: calc(100% / 7 - 8px);
}
.cart-selection .pickup-time {
    width: calc(100% / 5 - 10px);
    float: left;
    margin-right: 10px;
    position: relative;
    height: 50px;
}
.custom-date {
    position: absolute;
    float: right;
    width: max-content;
    margin: 0;
    padding: 0;
    color: #0066c0;
    top: 0;
    right: 20px;
}

.custom-date img {
    position: relative;
    width: 20px;
    margin-right: 10px;
}
.custom-date span {
    font-weight: 700;
    color: #0066c0;
    font-size: 13px;
    position: relative;
}
.custom-date .react-datepicker-wrapper {
    position: absolute;
    z-index: 2;
    height: 100% !important;
    width: 100%;
    left: 0;
    opacity: 0;
    top: 0;
}
.custom-date .react-datepicker__input-container {
    height: 100% !important;
    width: 100%;
}

.custom-date
    .react-datepicker-wrapper
    .react-datepicker__input-container
    input {
    height: 100% !important;
    width: 100%;
    cursor: pointer;
}

.cart-selection .payment-method label {
    border: 1px solid #ced4da;
    padding: 0.6rem;
    border-radius: 6px;
    font-size: 13px;
    cursor: pointer;
    /*background: #f7f7f7;*/
    width: 100%;
    line-height: 1.4;
    transition: all ease-in-out 0.3s;
    text-align: center;
}
.cart-selection .payment-method span {
    font-weight: 500;
    width: 100%;
    display: block;
    transition: all ease-in-out 0.3s;
    color: #696969;
}
.cart-selection .payment-method b {
    font-weight: 600;
    font-size: 15px;
}
.cart-selection .payment-method input {
    position: absolute;
    width: 100%;
    z-index: 2;
    opacity: 0;
    height: 100%;
    cursor: pointer;
}

.cart-selection .payment-method :checked + label {
    border: 2px solid #258cac;
    background-color: #258cac;
    color: white;
    font-weight: 700;
}
.cart-selection .payment-method :checked + label span{
    font-weight: 700;
    color: white;
}
.cart-selection .payment-method :checked + label b{
    font-weight: 700;
}
.cart-selection .payment-method:last-child{
    margin-right: 0;
}
.cart-selection .pickup-date label{
    height: 80px;
    max-height: 80px;
}
.complete-order .product-details .food-img{
    width: 55px;
    height: 55px;
    float: left;
}
.complete-order .top-img{
    display: none;
}
.complete-order .onsale-details{
    display: none;
}
.complete-order .food-content{
    float: left;
    width: calc(100% - 55px);
    padding-left: 10px;
}
.complete-order .product-details .sub-order{
    display: none;
}
.complete-order .food-content h6{
    text-align: left;
    margin-bottom: 2px;
}
.complete-order .food-content .price{
    text-align: left;
}
.complete-order .food-content .price del{
    display: none;
}
.complete-order .food-content{
    margin-bottom: 10px;
}
.complete-order .food-column{
    margin-bottom: 0;
}
.complete-order .owl-prev:before{
    padding: 0;
    line-height: 40px;
    width: 40px;
    height: 40px;
    text-align: center;
    top: 36%;
}
.complete-order .owl-next:before{
    padding: 0;
    line-height: 40px;
    width: 40px;
    height: 40px;
    text-align: center;
    top: 36%;
}
.complete-order .product-details .price{
    margin-bottom: 2px;
}
.complete-order .product-details .sub-order{
    font-size: 14px;
    font-weight: 700;
    display: none;
    text-align: center;
    color: #d30000;
}
.item-cart .main-section {
    padding: 1.5rem 1rem 0.2rem;
}
.cart-table .close-btn span {
    width: 36px;
    height: 36px;
    background: #f6f6f6;
    border-radius: 50px;
    text-align: center;
    line-height: 36px;
    margin-top: 4px;
}
.cart-table .cart-img {
    padding-right: 0;
    width: 60px;
    height: 60px;
    flex: unset;
}
.cart-table .cart-img img {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
.cart-table .food-content {
    width: calc(100% - 60px);
    flex: unset;
    padding-left: 8px;
}
.cart-table .food-content h6 {
    height: unset;
    margin-bottom: 0px;
    font-size: 15px;
    text-align: left;
}
.cart-table a.add-notes {
    font-size: 12px;
    color: #969696;
    text-decoration: none;
}
.cart-table a.add-notes i {
    font-size: 10px;
}
.cart-table .each-price{
    text-align: right;
    float: right;
    display: block;
    font-size: 14px;
    color: #696969;
}
.cart-table .product-quantity-cart .skin-5 .num-in {
    border: 1px solid #e1e1e1;
    border-radius: 20px;
    height: 36px;
    padding: 6px 0;
}
.price-or{
    color: #696969 !important;
    font-size: 14px !important;
    top: 3px;
}
.cart-table .product-quantity-cart .skin-5 .num-in span.plus {
    margin-right: 8px;
}
.cart-table tr.border-details .remove {
    width: 45px;
}
.cart-table tr.border-details .quantity {
    width: 100px;
    position: relative;
}
.cart-table tr.border-details {
    border-bottom: 1px solid #f3f3f3;
}
.review-cart .main-section {
    margin-bottom: 12px;
}
.cart-table tr.border-details:last-child {
    border: 0;
    padding-bottom: 0;
}
.cart-table tr.border-details:last-child td {
    padding-bottom: 0px;
}
.cart-table tr.border-details .quantity .product-quantity-cart {
    position: absolute;
    top: 19px;
    width: 100%;
}
.cart-table tr.border-details td {
    border: 0;
}
.cart-table tr.border-details td.quantity {
    width: 100px;
}
td.product-details.cart-width.cart-alignment.review-align span {
    font-size: 13px;
}
.cart-items h6 {
    font-weight: 700;
}
.cart-items h6 span {
    font-size: 14px;
    color: #535353;
}
#right-content .shop-section form .form-control.input-control {
    border-color: #696969;
    border-radius: 6px;
    font-size: 14px;
    /* padding: 23px 13px; */
}
#right-content .shop-section form input.form-control.input-control {
    height: 44px;
}
#right-content .main-cart button.btn.btn-proceed {
    width: 100%;
    margin: 10px 0px 10px;
}
#right-content .main-cart .note{
    color: #696969;
    font-size: 15px;
    margin: 20px 0 5px;
    font-weight: 500;
}
.scrollbar {
    height: 450px;
    overflow-y: scroll;
    margin-bottom: 0px;
    border-top: 1px solid #f3f3f3;
}

.force-overflow {
    min-height: 450px;
}

.cart-item-details.ct-info {
    padding-right: 5px;
}

#style-4::-webkit-scrollbar {
    width: 5px;
}

#style-4::-webkit-scrollbar-thumb {
    background-color: #5ab7d4;
    border-radius: 20px;
}
.most-product{
    padding-right: 10px;
}
.most-product .cart-row {
    padding-left: 0;
}
.most-product .product-details {
    border: 0;
    border-bottom: 1px solid #eaeaea;
}
.most-product .product-details .price{
    text-align: left;
    margin-top: 3px;
    margin-bottom: 0;
}
.most-product .product-details.cart-table .cart-img{
    padding-left: 0;
}
.most-product .product-details.cart-table .cart-row{
    padding: 0px;
}
.most-product .product-details.cart-table .buttons{
    margin-top: 10px;
}
.most-product .product-details.cart-table h6{
    margin-top: 8px;
}
.most-product .pro-list span {
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-radius: 50px;
    background-color: #f6f6f6;
    text-align: center;
    margin-top: 0px;
}
.most-product .cart-row .cart-button .skin-5 .num-in input {
    right: -12px;
}
.most-product .cart-row .cart-button .skin-5 .num-in span.plus {
    margin-left: 62px;
}
#owl-slider .owl-stage {
    right: 60px;
}
.select-add {
    display: flex;
}

.table th {
    border: 0;
}
.cart-table .table td{
    padding: 0.875rem 0;
    border: 0;
    border-bottom: 1px solid #eaeaea;
    vertical-align: middle;
}
.cart-table .table tr:last-child td{
    border-bottom: 0;
    padding-bottom: .45rem;
}
.cart-table p{
    margin-bottom: 0;
    font-size: 16px;
    text-align: right;
}
.cart-table p sup{
    margin-bottom: 0;
    font-size: 16px;
}
.cart-table .remove{
    width: 40px;
}
.cart-table .image{
    width: 80px;
}
.cart-table .name p{
    font-size: 14px;
    color: #969696;
}
.cart-table .contain{
    width: 100%;
}
.cart-table .image .contain img{
    width: 80%;
}

.cart-table .note{
    width: 180px;
}
.cart-table .quantity{
    width: 80px;
}
.cart-table .quantity{
    width: 100px;
}
.cart-table .price-details{
    width: 110px;
}
.cart-table .price-details .contain{
    text-align: right;
}
.cart-table .price-details .contain .price{
    width: 100%
}
/*====================single product details page==========================*/
.main-section .food-details.main-title h5 {
    font-size: 18px;
}
.main-section .pickup-details {
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    padding: 1rem;
}
.main-section .order-address {
    display: flex;
}
.main-section .pickup-details .order-info .order-address .oadd-details {
    margin-left: 8px;
}

.main-section .pickup-details .order-info .order-address .oadd-details p {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 0;
}
.main-section .pickup-details .order-info .order-date p {
    margin-bottom: 0;
    color: #333333;
    font-size: 14px;
}
.main-section .pickup-details .order-column {
    margin: auto;
}
.main-section .pickup-details .order-column .order-status {
    text-align: center;
}
.main-section .pickup-details .order-column .order-status a.btn.btn-change {
    border: 1px solid #dc2a27;
    height: 34px;
    font-size: 14px;
    font-weight: 800;
    width: 176px;
}
.main-section .payment-method.payment.contact-info label {
    width: 290px;
}
.main-section .payment-method.payment label {
    border: 1px solid #ccc;
    border-radius: 6px;
    position: relative;
    cursor: pointer;
    width: 295px;
    padding: 1rem;
    display: inline-block;
    margin-right: 0.8rem;
    margin-bottom: 0;
}
.main-section .payment-method.payment.contact-info label h6.user-title {
    font-size: 1rem;
    font-weight: 800;
    margin-bottom: 10px;
}
.main-section .payment-method.payment.contact-info label p.country-contact {
    margin-bottom: 1.5rem;
    font-weight: 700;
    font-size: 12px;
}
.main-section .payment-method.payment.contact-info label .add-edit {
    text-align: right;
}
.main-section .payment-method.payment.contact-info label .add-edit a {
    color: #009fce;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}
.main-section .cf-subtitle {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 14px;
    color: #696969;
    margin-right: 12px;
}
.main-section .payment-method.payment .visa-card i {
    cursor: pointer;
}
.main-section .payment-method.payment .card-number {
    margin-top: 14px;
    margin-bottom: 14px;
}
.main-section .payment-method.payment .card-number span {
    color: #333333;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 700;
    margin-right: 3px;
}
.main-section .payment-method.payment .chekcout-card .card-holder p {
    font-size: 12px;
    color: #696969;
    margin-bottom: 5px;
}
.main-section .payment-method.payment .chekcout-card .card-holder h6 {
    font-size: 14px;
    font-weight: 800;
    color: #333333;
    margin-bottom: 0;
}
.main-section .review-product .shop-add {
    margin: auto 10px;
}
.main-section .review-product .shop-add p {
    font-size: 14px;
    width: 75%;
    margin-bottom: 0;
}
.main-section .review-product .review-content p {
    font-size: 14px;
    font-weight: 600;
    color: #333333;
    margin-bottom: 0;
}
.main-section .review-product .review-content p span {
    color: #dc2a27;
}
.main-section .review-product .review-price p {
    font-weight: 800;
    margin-bottom: 0;
    font-size: 1.125rem;
}
.main-section .cart-item-content {
    margin: auto;
}
.main-section .cart-item-content p {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0;
}
.main-section .cart-item-content p span {
    color: #dc2a27;
    margin-left: 20px;
    font-weight: 800;
}
.main-section a.btn.btn-cart {
    width: 100%;
    color: white;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
    height: 38px;
    transition: 0.5s;
    background: #dc2a27;
    font-size: 0.875rem;
    border-radius: 25px;
}
.main-section .bottom-chebtn a.btn.btn-cart {
    width: 240px;
    padding: 7px;
}
.main-section .sub-total p {
    font-size: 14px;
    margin-bottom: 0;
    color: #24211f;
}
.main-section .sub-total {
    display: flex;
}
.main-section .sub-total.amt-minus p {
    color: #00a560;
}
.main-section .sub-total.amt-plus p {
    color: #dc2a27;
}
.main-section .sub-total.amt-total p {
    font-weight: bold;
    font-size: 16px;
}
.main-section .proceed-button-check a.btn.btn-cart {
    padding: 7px;
}
.proceed-button-check {
    margin: 1rem 0;
}
.main-section .coupon-details {
    margin-top: 14px;
}
.main-section .coupon-details input {
    height: 40px;
}
.main-section .form-control.info-control {
    border-color: #c4c4c4;
    height: 44px;
    font-size: 13px;
}
.main-section .coupon-details .input-group-text {
    font-size: 13px;
    color: white;
    background-color: #dc2a27;
    border: 1px solid #dc2a27;
    border-radius: 0.25rem;
    cursor: pointer;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-weight: 700;
    border-left: 0;
}
.account-card .footer-content h2{
    color: #212529;
}
.account-card .footer-content .contact-details h6{
    color: #696969;
    font-weight: 500;
}
.account-card .footer-content .contact-details p{
    color: #696969;
    font-weight: 500;
}
#right-content{
    /*padding-left: 0px;*/
}
.main-section hr.amt-border {
    margin-top: 10px;
    margin-bottom: 10px;
}
.single-btn .cart-button span {
    font-size: 18px;
}
.single-btn .cart-button .skin-5 .num-in span.plus {
    margin-left: 78px;
}
.single-btn .skin-5 .num-in span.minus {
    margin-left: 10px;
}
/*====================/single product details page==========================*/
.single-product #myCarousel {
    padding-right: 0px;
}
.react-datepicker-popper {
    z-index: 1000 !important;
}
.react-datepicker__input-container input {
    height: ;
}
.single-product .product-description{
    padding: 15px 30px 20px;
}
.single-product .product-description p.description {
    font-size: 15px;
}
.single-product .product-description h5 {
    color: #24211f;
    font-weight: 700;
    font-size: 1.1rem;
    float: left;
    margin-bottom: 5px;
    width: 100%;
}
/*====================personal information===========================*/

.row-margin {
    margin-top: 1rem;
    margin-bottom: 3rem;
}
.main-section .account-details {
    margin-bottom: 1rem;
}
.account-details:last-child {
    margin-bottom: 0;
}
.main-section .account-details h6 {
    font-weight: 700;
    margin-bottom: 4px;
}
.main-section .account-details ul li .nav-link {
    padding: 0.3rem 0rem;
    font-size: 13px;
    color: #414141;
}
.main-section .account-details ul li .nav-link.active {
    color: #dc2a27;
    text-decoration: underline;
    font-weight: 700;
}

.main-section .form-row.form-info .info-control {
    border-color: #c4c4c4;
    height: 44px;
    font-size: 13px;
}
.main-section .form-row.form-info label {
    color: #333333;
    font-size: 13px;
}
.update-btn a.btn.btn-cart {
    padding: 0.4rem 2rem;
    width: auto;
}
h6.account-title.info {
    margin-top: 8px;
}
/* The switch - the box around the slider */
.switch {
    position: absolute;
    display: inline-block;
    width: 43px;
    height: 22px;
    right: 15px;
}

/* Hide default HTML checkbox */
.switch input {
    display: none;
}

/* The slider */

input.default:checked + .slider {
    background-color: #e9e9e9;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
    background: #5ab7d4;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.offer-details h6 {
    font-size: 15px;
    margin-bottom: 4px;
    font-weight: 700;
}
.offer-details p {
    font-size: 13px;
    margin-bottom: 0;
    color: #696969;
}

.toggle-switch {
    margin: auto 0;
}
.list-details {
    position: relative;
    border-bottom: 1px solid #e5e5e5;
    padding: 1rem 0;
}
.list-details:first-child {
    padding-top: 0;
}
.list-details:last-child {
    border-bottom: 0;
}
.form-group.npassword {
    position: relative;
}
.form-group.npassword i {
    position: absolute;
    top: 44px;
    right: 12px;
    color: #c4c4c4;
}
.address-details {
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 2rem;
}
p.country-add {
    margin-bottom: 0.4rem;
    font-size: 11px;
    color: #333333;
}
p.country-contact {
    margin-bottom: 0;
    font-weight: 700;
    font-size: 11px;
}
h6.user-title {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
}
.add-edit {
    text-align: right;
}
.add-edit a {
    color: #dc2a27;
    font-size: 12px;
    font-weight: 700;
}
p.crd-title {
    font-size: 10px;
    color: #333333;
    margin-bottom: 5px;
}

.card-number span {
    color: #333333;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 600;
    margin-right: 10px;
}
.card-number {
    margin-top: 14px;
    margin-bottom: 14px;
}
.visa-card i {
    cursor: pointer;
}
.payment-col1 {
    padding-right: 8px;
}
.payment-col {
    padding-left: 8px;
}

/*====================/personal information===========================*/

/*====================order successfully popup===========================*/
.order-successful {
    background: white;
    border-radius: 5px;
    text-align: center;
    width: 450px;
    padding: 2.5rem 5rem;
    margin-top: 6rem;
}
.orders-title {
    font-weight: bold;
    margin-bottom: 5px;
}
.orders-id {
    font-size: 14px;
    color: #333333;
    font-weight: 700;
    margin-bottom: 0;
}
.orders-subtitle {
    color: #696969;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 1.8rem;
}
.tick-icon {
    height: 85px;
    width: 85px;
    margin: auto;
    border: 3px solid #00cc14;
    border-radius: 50%;
    line-height: 85px;
    margin-bottom: 1rem;
    cursor: pointer;
}
.tick-icon i {
    font-size: 32px;
    color: #00cc14;
}
/*====================/order successfully popup===========================*/
.main-section .order-table .table td,
.table th {
    padding: 0.95rem 0;
    vertical-align: middle;
    border-top: 1px solid #e5e5e5;
}
.order-table td {
    font-size: 14px;
}
.order-table .table thead th {
    border-bottom: 1px solid #e5e5e5;
    border-top: 0;
    padding-top: 0;
    font-weight: 700;
    font-size: 15px;
}

.main-section .delivery-details {
    padding-left: 12px;
}
.main-section .delivery-details p {
    font-size: 14px;
    margin-bottom: 0;
}
.main-section a.btn.btn-view {
    font-size: 14px;
    background: #e5e5e5;
    padding: 0.3rem 1rem;
}
.main-section .page-details p {
    font-size: 12px;
    color: #696969;
    margin-bottom: 0;
}
.main-section .chevron-icon i {
    width: 28px;
    height: 28px;
    background: #f2f2f2;
    text-align: center;
    line-height: -4px;
    border-radius: 5px;
    font-size: 14px;
    padding-top: 7px;
    color: #c4c4c4;
    margin-right: 0.5rem;
    cursor: pointer;
}
.main-section .chevron-icon i.active {
    background-color: red;
    color: white;
}

/*=================order details page=======================*/
.order-breadcrumb .breadcrumb {
    padding: 8px 0;
    background-color: transparent;
}
.order-breadcrumb .breadcrumb a {
    background-color: transparent;
    font-weight: 700;
    font-size: 20px;
    color: #dc2a27;
}
.order-breadcrumb .breadcrumb a:hover {
    color: #dc2a27;
    text-decoration: none;
}
.order-breadcrumb .breadcrumb-item.active {
    color: #333333;
    font-weight: 800;
    font-size: 20px;
}
.order-breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    color: #333333;
}

.main-section h6.order-title {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 0;
}
.main-section .order-address-details {
    margin-left: 8px;
}
.main-section .order-address-details p {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 0;
}
.main-section .order-date p {
    margin-bottom: 0;
    color: #333333;
    font-size: 14px;
}
.main-section .order-status {
    text-align: center;
}
.main-section .order-status h6 {
    font-size: 14px;
    font-weight: 700;
    color: #333333;
}
.main-section .order-status h6.ostatus-deliver {
    color: #00a560;
    margin-bottom: 5px;
}
.grid-divider {
    position: relative;
    padding: 0;
}
.grid-divider > [class*='col-'] {
    position: static;
}
.grid-divider > [class*='col-']:nth-child(n + 2):before {
    content: '';
    border-left: 1px solid #c4c4c4;
    position: absolute;
    top: -16px;
    bottom: -17px;
    margin-left: -19px;
}
.main-section .order-notes p {
    font-size: 13px;
    margin-bottom: 0;
    margin-top: 1rem;
}
.main-section .order-notes p span {
    font-weight: 700;
}
.main-section .ostatus-col {
    margin: auto;
}

.main-section .order-card {
    margin-top: 1rem;
}

/*=============checkbox==============*/
/* The check */
.check {
    display: block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 700;
    margin-bottom: 0;
}

/* Hide the browser's default checkbox */
.check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 15px;
    width: 15px;
    border: 1px solid #c4c4c4;
    border-radius: 2px;
}

/* When the checkbox is checked, add a blue background */
.check input:checked ~ .checkmark {
    background-color: #dc2a27;
    border: none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: '';
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.check input:checked ~ .checkmark:after {
    display: block;
}

a.btn.btn-reorder {
    background: #dc2a27;
    color: white;
    font-size: 13px;
    font-weight: 700;
    height: 30px;
    width: 114px;
    padding: 4px;
}
.custom-check {
    margin: auto 0;
}

.odfood-table .table td,
.table th {
    padding: 0;
    vertical-align: baseline;
    padding-bottom: 0.75rem;
}

th.col-three {
    width: 31%;
}
th.col-two {
    width: 60%;
}

.main-section .order-food .shop-add p {
    font-size: 14px;
    width: 75%;
    margin-bottom: 0;
}
.food-check .check {
    padding-left: 30px;
}
.food-check .checkmark {
    top: 14px;
}

.main-section .odfood-qty {
    font-size: 14px;
    font-weight: 800;
}
.table {
    margin-bottom: 0;
}

.odfood-table h6 {
    color: #333333;
    font-weight: 700;
}

/*============================css for merge==============================*/

/*===============checkout=======================*/
.food-details .edit-info {
    margin-top: 1.9rem;
}
.payment-method .edit-content {
    margin: auto 0;
}
.payment-method .edit-content a {
    font-size: 14px;
    color: #00506a;
    font-weight: 700;
    text-decoration: none;
}
.payment-method button.btn.btn-select {
    background: #007297;
    color: white;
    height: 32px;
    font-size: 14px;
    border-radius: 20px;
    width: 84px;
    font-weight: 700;
    padding: 1px;
}
.food-details.review-details {
    margin-bottom: 8px;
}
.cart-table tr.border-details td:first-child{
    width: 500px;
}
.cart-table tr.border-details td.width-name{
    width: 460px;
}
.cart-table tr.border-details td.icon-width{
    width: 24px;
}
td.product-details.cart-width.cart-alignment.review-align {
    vertical-align: baseline;
    padding-right: 0;
}

td.product-details.cart-width.cart-alignment.review-align .pro-qty {
    position: relative;
    height: 34px;
}
.pro-qty {
    border: 1px solid #d1d1d1;
    text-align: center;
    height: 36px;
    border-radius: 20px;
    padding: 4px 0;
}
.pro-qty span {
    font-size: 14px;
    font-weight: 700;
}
.food-details .feature-details.review-details {
    margin-top: 1rem;
}

.edit-cart {
    float: right;
}
.store-loc h5{
    font-weight: 700;
    color: #212529;
    font-size: 18px;
}
.store-loc .contact-details h6{
    font-size: 15px;
}
.store-loc .contact-details p{
    font-size: 16px;
}
.edit-tag{
    display: inline-block;
    color: #0066c0;
    font-weight: 700;
    font-size: 13px;
    text-decoration: none;
    margin: 0px 0px 0px 10px;
    position: relative;
    top: 1px;
}
/*===============/checkout=======================*/

.cart-heading {
    padding: 10px 0px;
    /*border-bottom: 1px solid #e8e8e8;*/
    margin-bottom: 04px;
}
.cart-heading h4 {
    font-size: 20px;
    font-weight: 700;
}

.main-section.checkout-info .food-details.main-title {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
}
.main-section.checkout-info .food-details.main-title h5 {
    font-size: 18px;
}
.main-section.checkout-info .form-details {
    padding: 0px;
}
.main-section.checkout-info .title{
    padding: 0;
}
.main-section .sub-total .item-text p {
    font-weight: 700;
}
.main-section .sub-total.amt-total .text-total p {
    font-weight: 700;
    font-size: 16px;
}

.main-section .sub-total .item-text.text-price p {
    font-size: 16px;
}

.main-section a.btn.btn-cart:hover {
    background: #b31f1d;
}

.review-right {
    margin: auto;
}

.main-section .review-img {
    width: 64px;
    height: 64px;
    margin-right: 16px;
}
.main-section .review-img img {
    width: 100%;
}

.main-section .order-info .order-date p {
    font-weight: 700;
}

.food-details .card-holder .crd-holder-name {
    font-weight: 700;
}

.odfood-table td.odfood-qty.qty-color {
    color: #dc2a27;
}

a.btn.btn-reorder:hover {
    background: #b31f1d;
}

.main-section.main-cart .form-control.input-control {
    font-size: 14px;
}

.home-slider .food-details h5 {
    font-size: 16px;
}
.home-slider .food-details .feature-details {
    justify-content: inherit;
    margin: 3rem 0 0rem 1rem;
}
.home-slider .feature-details a {
    margin-left: 16px;
    vertical-align: super;
    color: #009fce;
    font-weight: 700;
    font-size: 14px;
}
.home-slider .feature-details a:hover {
    color: #0078a0;
}

.gradient {
    /* background: rgb(16,123,221); */
    background: linear-gradient(
        180deg,
        rgba(16, 123, 221, 1) 0%,
        rgba(1, 89, 169, 1) 55%
    );
    width: 15.56px;
    height: 15.56px;
    border-radius: 2px;
    transform: rotate(45deg);
    margin-left: 3px;
    margin-top: 3px;
    /* background: rgb(1,89,169); */
    /* background: linear-gradient(
180deg
, rgba(1,89,169,1) 0%, rgba(16,123,221,1) 55%); */
}
.gradient h6 {
    color: white;
    font-size: 10px;
    text-align: center;
    /* line-height: 20px; */
    padding-top: 1.5px;
    transform: rotate(315deg);
    padding-right: 1px;
}
/*============================/css for merge==============================*/

.cart-alignment .skin-5 .num-in span {
    font-size: 10px;
    position: absolute;
    top: 12px;
}
.cart-alignment .skin-5 .num-in span.plus {
    right: 5px;
}
.cart-alignment .skin-5 .num-in span.minus {
    left: 0;
}
.cart-alignment .skin-5 .num-in input {
    width: 86px;
}

.breadcrumb-details .breadcrumb {
    padding: 5px 0 10px;
    background-color: transparent;
    border-radius: 27px;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 0 10px;
    margin: 10px auto 20px;
}
.breadcrumb-details h4{
    font-weight: 700;
    font-size: 1.4rem;
    margin-top: 5px;
    text-align: center;
}
.breadcrumb-details li.breadcrumb-item a {
    font-size: 15px;
    color: #696969;
    text-decoration: none;
    transition: 0.3s all ease-in-out;
}
.breadcrumb-details li.breadcrumb-item.active a{
    color: #212529;
}
.breadcrumb-details li.breadcrumb-item a:hover{
    color: black;
}
.breadcrumb-details .breadcrumb-item + .breadcrumb-item::before {
    font-size: 16px;
    color: #6c757d;
    /* content: "/"; */
    content: '\f105';
    font-family: fontawesome;
}
.breadcrumb-details li.breadcrumb-item a i {
    font-size: 17px;
    vertical-align: text-top;
    color: #5ab7d4;
}
.form-details .fields .form-control {
    height: 40px;
    font-size: 0.875rem;
    /*background-color: #f7f7f7;*/
}
.breadcrumb-details .breadcrumb-item.active {
    color: #24211f;
    font-size: 14px;
    margin-top: 1px;
}
.mb-l {
    margin-bottom: 52px;
}
.mb-m {
    margin-bottom: 36px;
}
.mb-sm {
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
}

.form-details .fields {
    margin-bottom: 12px;
    padding-right: 0px;
}
.form-details .fields label {
    font-size: 13px;
    margin-bottom: 3px;
    color: #212121;
    font-weight: 600;
}
/*====================login singup page css===========================*/
.login-column {
    max-width: 39.5%;
    flex: 0 0 39.5%;
}
section.main-height {
    min-height: calc(100vh - 155px);
}
.signin-info {
    margin: 2rem 0;
}
.signin-info h5 {
    color: #d30000;
    font-weight: 700;
    margin-bottom: 7px;
}
.signin-info p {
    color: #696969;
    font-size: 14px;
    font-weight: 600;
}
.kpx_loginOr {
    position: relative;
    margin: 1rem 0;
}
.kpx_loginOr .kpx_hrOr {
    background-color: #dadada;
}
.kpx_loginOr .kpx_spanOr {
    display: block;
    position: absolute;
    left: 50%;
    top: 5px;
    margin-left: -1.5em;
    background-color: white;
    width: 3em;
    text-align: center;
    font-size: 14px;
}
.main-section form .forget-details {
    /* margin-bottom: 1.2rem; */
    margin: 1.2rem 0;
}
.main-section form .forget-details a {
    font-size: 14px;
    color: #00506a;
    margin-left: 5px;
    font-weight: 600;
}
.main-section form .checkmark {
    top: 1px;
    height: 20px;
    width: 20px;
    border: 0;
    background: #ededed;
}
.main-section form .custom-check.login-check {
    /* margin: 1rem 0 1.5rem; */
    margin-bottom: 1.6rem;
}
.main-section form .login-check label {
    font-size: 14px;
    color: #24211f;
}
.main-section form .login-check label a {
    color: #00506a;
}
.main-section form .create-account p {
    font-size: 14px;
    color: #24211f;
    margin-top: 1.2rem;
}
.main-section form .create-account p a {
    color: #00506a;
}
.main-section form .google-icon img {
    width: 20px;
}
.main-section form .google-button {
    background: #4688f1;
    width: 210px;
    height: 44px;
    margin: auto;
    border-radius: 25px;
    cursor: pointer;
}
.main-section form small {
    font-size: 12px;
    color: #535353;
}
.main-section form .google-button .google-icon {
    width: 38px;
    height: 38px;
    background: white;
    border-radius: 20px;
    line-height: 35px;
    margin: auto 5px;
}
.main-section form .google-sign h6.login-title {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 1rem;
}
.main-section form .google-button .google-content {
    margin: auto auto auto 5px;
}
.main-section form .google-button .google-content h6 {
    color: white;
    font-size: 14px;
    font-weight: 700;
}
/*====================/login singup page css===========================*/

/*====================/account latest css===========================*/
.main-section .user-personal-details {
    margin-bottom: 1.5rem;
}

.main-section .user-personal-details h6 {
    font-size: 14px;
    color: #414141;
    margin-bottom: 4px;
}

.payment-method .edit-button button.btn.btn-select {
    width: 126px;
}
.main-section .address-info h6 {
    color: #24211f;
    margin-bottom: 4px;
    font-weight: 700;
}
.main-section .address-info p.address2 {
    font-size: 14px;
    color: #696969;
    margin-bottom: 4px;
}
.address-btn button.btn.btn-address {
    background: #5ab7d4;
    color: white;
    font-size: 14px;
    font-weight: 700;
    border-radius: 20px;
    height: 40px;
    padding: 0 35px;
    transition: 0.5s all;
}
.address-btn button.btn.btn-address:hover {
    background: #258cac;
}
.payment-method.payment.pay-card label {
    border: 0;
    width: 100%;
    padding: 0;
    padding: 1rem;
}

.payment-method.payment.pay-card {
    background-image: url(../images/payment.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.main-section .pickup-order {
    padding: 1rem;
}
.main-section .pickup-order h6 {
    font-size: 14px;
    color: #24211f;
    font-weight: 700;
}
.main-section .pickup-order p {
    font-size: 12px;
    color: #696969;
    margin: 5px 0;
}
.main-section .pickup-order h6.pickup-amt {
    font-size: 13px;
    color: black;
}
.main-section .pickup-card {
    margin: auto 0;
}
.main-section .pickup-order .pickup-way h6 {
    color: #016d90;
    font-size: 13px;
    font-weight: 700;
    font-style: italic;
}
.main-section .pickup-way.food-details {
    margin: 0.6rem 0 0;
}
.filter-design {
    border-radius: 25px;
    padding: 0.5rem;
}

.filter-design .page-link {
    background: #f3f3f3;
    padding: 0;
    color: #696969;
    /* background-color: transparent; */
    border: 0;
    font-weight: 600;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    border-radius: 20px;
    font-size: 14px;
}
.filter-design .page-item.active .page-link {
    z-index: 3;
    color: black;
    background-color: #eec02a;
    border-color: #eec02a;
    border-radius: 20px;
}
li.page-item.page-item-navigation {
    color: #696969;
    margin: auto 0;
}

/*====================/account latest css===========================*/
@media screen
and (min-device-width: 1600px)
and (max-device-width: 5000px){
    .modal-dialog {
        /*width: 600px;*/
        transform: scale(1.1)!important;
        top: 180px;
    }
}
