.card {
    width: 250px;
    margin-left: 70%;
    display: flex;
}
.modalContent {
    width: 15vw;
    margin-left: 73%;
    margin-top: 5%;
}

.main_List {
    display: flex;
}

.imgList {
    width: 40%;
    height: 40%;
}

.listText {
    font-size: 12px;
    margin-left: 5%;
}

.modalSize {
    width: 15vw;
    margin-left: 45%;
}

.modalBody {
    display: flex;
}

.fa-window-close {
    margin-left: 15%;
    color: red;
}
